[2014-04-13 20:42] robszumski opened #1 "Order of `--vulcan` matters even though it is a global option"
Order of `--vulcan` matters even though it is a global option:

[code]

[code]

[2014-04-13 22:38] robszumski opened #2 "Creating etcd keys after vulcan is started ignores changes"
Order of events:
1. Vulcan is started
2. Keys created via `etcdctl`
3. This log entry appears every second:

[code]

Vulcan works properly when you create the keys before it starts:
1. Keys created via `etcdctl`
2. Vulcan is started

[2014-04-29 06:01] robszumski opened #4 "Regex to match all paths doesn't work"
I'm trying to match everything after /, but I keep getting bad gateway on all of the stylesheets, images, etc.

[code]

Have you gotten this to work?

[2014-04-30 20:44] #2 closed, assigned to nobody

[2014-04-30 23:20] #4 closed, assigned to nobody

[2014-05-02 06:01] klizhentas opened #5 "Get rid of EtcdKey and Id duplication"
Having both EtcdKey and Id is confusing and redundant. Moreover, Id property is not unique.

Get rid of EtcdKey property and use the Id property everywhere. The value of the Id property should be equal to node's full path in Etcd.

This way Id property would be unique.

[2014-05-05 15:31] SEJeff opened #6 "Add option for using a trie instead of regex to route urls"
Read a few of these for the reasoning why:

https://gdstechnology.blog.gov.uk/2013/12/05/building-a-new-router-for-gov-uk/
https://github.com/alphagov/router/tree/master/triemux

http://blog.ant0ine.com/typepad/2013/02/better-url-routing-golang-1.html
https://github.com/ant0ine/go-urlrouter

For lots and lots of urls, regular expressions tend to slow things down a bit.

[2014-05-07 06:08] sdmajor opened #7 "Great project"
Love the project, was wondering why etcd was chosen as service discovery platform. Consul (http://www.consul.io/intro/vs/zookeeper.html) seems like a better fit as it can be easily incorporated into the rest of the stack for a complete service discovery, k/v store and alerting platform.

Also would love to see SSL and Webscket features added in as seen in this Golang project: https://github.com/jo

[2014-05-07 17:44] #7 closed, assigned to nobody

[2014-05-07 19:46] thedrow opened #9 "Add alternative backends"
- [x] The backends API should be highly documented.
- [x] Any reference to Etcd from the Backend type must be removed. (Related issues: #5)
- [x] Create a toturial explaining how to write a backend.
- [ ] Create a Consul backend.
- [ ] Create a Consul DNS backend.
- [ ] Create a SkyDNS2 backend.
- [ ] Create a ZooKeeper backend.

[2014-05-08 14:29] klizhentas opened #10 "Migrate to godep -r for alternative builds"

[2014-05-08 16:03] adnichols opened #11 "passing --vulcan to 'host add' command results in error"
Trying to add a host using the method described in the readme:

[code]

I'm not really sure what to do here - how do I specify the vulcan URL?

[2014-05-08 20:05] jchauncey opened #12 "interacting with vulcand through an api"
We are trying to programmatically add a host and endpoint configuration to a running vulcand but we cant seem to determine if you can do that over a rest interface. Any suggestions?

[2014-05-09 23:43] robszumski opened #13 "Expose /health endpoint"
It would be awesome if there was a url to hit that tracked vulcand health for use with cloud load balancer's health monitor.

Great work so far, I'm loving it.

[2014-05-10 01:17] #13 closed, assigned to nobody

[2014-05-12 20:48] robszumski opened #15 "Docker Trusted Build"
Can you add a trusted build to index.docker.io?

[2014-05-15 17:14] #15 closed, assigned to nobody

[2014-05-15 21:13] jchauncey opened #16 "api creates should return json of the created object"
If I create an upstream without submitting an ID using the web api the only json I get back is `{"message":"Upstream added"}`

It would be really helpful if the api returned that object so I could save it off and use it at a later time.

[2014-05-19 21:43] rektide opened #17 "Enhancement: Mongrel2 ZMQ transport backend"
Vulcand as a front-end-server has to initiate a lot of connections to the back-end services.

Mongrel2 performs a similar front-end service, however instead of going HTTP to the backend services, it specifies a ZeroMQ protocol for talking with backend services:

This allows for non-TCP based connectivity (ZeroMQ supports pipes and UDP for example) between the front & back end servers, it allows fo

[2014-05-19 21:43] rektide opened #18 "Enhancement: sticky sessions"
Sticky sessions track a client, and if a new request can be sent to an endpoint that the client has talked with, will forward the request to that endpoint in preference over an endpoint the client has not spoken with before.

It'd be good to see this implemented such that each location can specify: global-sticky, location-sticky, or no-sticky: no-sticky is no stickiness, location-sticky only consi

[2014-05-23 07:27] garthk opened #19 "Repeatable crash pushing to docker-registry via vulcand"
Failed twice in a row at about the same place:

[code]

Pushing directly worked fine:

[code]

Log:

[code]

[2014-05-24 10:15] rimusz opened #20 "Enhancement: vulcand health status check from loadbalancers"
Currently vulcand status can be only checked `http://172.17.8.99:8182/v1/status`  way, which does not work for AWS and GCE loadbalancers, where the check is done  `curl -L http://vulcand_ip/v1/status:8182`
Would be possible to open an extra port just to work for loadbalancers?

[2014-05-27 01:49] #19 closed, assigned to nobody

[2014-05-29 05:11] #16 closed, assigned to nobody

[2014-05-29 05:12] #1 closed, assigned to nobody

[2014-05-29 05:12] #5 closed, assigned to nobody

[2014-05-29 05:13] #11 closed, assigned to nobody

[2014-05-29 05:13] #12 closed, assigned to nobody

[2014-05-29 18:32] #20 closed, assigned to nobody

[2014-05-29 21:02] #10 closed, assigned to nobody

[2014-05-29 21:50] garthk opened #22 "exit 1 on stopping watch"
Could `vulcand` exit with 1 or higher if it stops watching `etcd` for changes? I keep running into this:
- I mangle the `/vulcand` configuration in `etcd`
- The `vulcand` processes stop working and stick their fingers in their ears
- I fix the `/vulcand` configuration in `etcd`
- The `vulcand` processes hear nothing
- I look at `fleetctl list-units` and `docker ps`
- All seems well
- I eventually

[2014-05-30 05:00] #22 closed, assigned to nobody

[2014-05-30 07:33] klizhentas opened #23 "Changing order of sets for location breaks config"
This works:

[code]

While this does not:

[code]

[2014-05-30 08:27] dublx opened #24 "Question: Load Balancer"
Hi,
From reading the docs it doesn't seem like Vulcan could be used as a Load Balancer. Or is it implicit that having multiple endpoints under a upstream key will act as a Load Balancer? If so, is it doing simple round-robin or is there more to it? Any kind of state detection on the endpoint?
EDIT: Looking at http://vulcan.ghost.io/intro/ it's more clear now. Time to get hands on and try it.

[2014-05-30 10:43] #24 closed, assigned to nobody

[2014-06-02 04:53] #23 closed, assigned to nobody

[2014-06-12 15:24] ahromis opened #27 "Configurable Timeouts"
Running into an issue when hitting an API that takes a little bit longer to return a response with the following error after 3 attempts:

attempts=3) failed: net/http: timeout awaiting response headers

Are there plans to make the timeout setting configurable in the future?  Great project btw, thanks!

[2014-06-12 17:32] #27 closed, assigned to nobody

[2014-06-19 12:25] F21 opened #28 "Pluggable middleware"
I really love the idea of middleware. It's very useful for us as we would like to write some middle where to call one of our internal REST services to make some decisions when routing to the appropriate upstreams.

I would love to see some way where we can have pluggable middleware so that we do not need to recompile vulcand.

We could then have a scenario where vulcand is installed using a vanill

[2014-06-27 05:01] TJC opened #29 "Example in documentation fails unless -port 8181 is added"
While attempting to follow the documentation on starting vulcand in a docker container, I found that it would not work unless the vulcand commandline had -port 8181 added. I am using the mailgun/vulcand image from the docker registry. I wonder if the default port had changed since the docs were written?

[2014-06-30 23:47] sukrit007 opened #31 "Internal Server Error when upstream is not set."
**Given**: Vulcand Created from docker repo : "mailgun/vulcand" with no existing hosts.
**And**: I add upstream with endpoints, host, location  but do not redirect the traffic of the location  to the any of the upstreams.

**When**: I access Vulcand Hosts API

[code]

**Then**: I get "Internal Server Error" in response.

**When**: I redirect the traffic to the newly created upstream

**Then**: The

[2014-07-03 02:43] porjo opened #32 "lightweight docker image"
It'd be great to see a smaller docker image. vulcand image is roughly 2x the size of my other containers. I notice that the Go build environment is bundled with the current image...is that necessary?

An alternative approach may be to release precompiled binaries and pull them down at build time.

[2014-07-03 04:10] porjo opened #33 "no error on bind fail"
Failing to bind to the given port number (for either proxy or API) results in vulcand process starting without any error being printed. For example, binding to port `80` as non-root user is not allowed, yet vulcand starts anyhow.

I think vulcand should throw a fatal error in this case.

[2014-07-03 04:52] #33 closed, assigned to nobody

[2014-07-03 09:40] porjo opened #35 "readTimeout default"
Please consider raising the default value for `-readTimeout`. The current default of 10s is easy to exceed on a moderately large POST and will catch people unaware. For reference, Nginx defaults to 60s for its [`proxy_read_timeout`](http://wiki.nginx.org/HttpProxyModule#proxy_read_timeout) setting

[2014-07-03 19:35] soellman opened #37 "internal timeouts terminating the connection at strange interval"
CASE 1
If you have a request which takes >10s, vulcand will complain that the connection timed out at 30s (?!?), won't terminate the client connection until 40s, and then without a proper response:

ERROR Jul  3 19:19:13.664: [proxy.go:50] Request(id=1, method=GET, url=http://localhost:8080/, attempts=3) failed: net/http: timeout awaiting response headers

time curl -i localhost:8181/
curl: (52) E

[2014-07-04 00:24] porjo opened #38 "'object not found' error"
Vulcand fails to start with the following messages:

[code]

Which object? vulcand should print which object it is failing to read! This time, I happen to know which object is missing, but that won't always be the case :smile:

[2014-07-04 00:38] porjo opened #39 "read timeout error"
If the client takes too long to complete sending data and `readTimeout` value is exceeded, vulcand returns HTTP 400 and JSON body with `{"error":"Bad Request"}`

A more appropriate error might be HTTP 408  `{"error":"Request Timeout"}`

Relates to #35

[2014-07-04 02:28] porjo opened #40 "location rewrite"
I have a Jenkins server behind vulcand. It's complaining that my "reverse proxy set up is broken"

Jenkins has a built in test which sends a redirect back to the client with headers:

[code]

The client requests the URL in the `Location:` field. Jenkins expects to see a request come in unmodified, but instead of the suffix `a%2Fb/` it sees `a/b/` which results in a 404, and the test fails.

A tcpd

[2014-07-04 05:30] #40 closed, assigned to nobody

[2014-07-04 07:03] porjo opened #41 "docker clean exit"
In order for Docker to consider the container to have exited cleanly, it must shut down gracefully on a SIGTERM. If it does not respond, then a SIGKILL is sent and the shutdown is considered unclean.

Without a clean exit, a container that has been marked for auto-removal (with `--rm` flag) does not get deleted.

It would be good to have vulcand respond to SIGTERM

[2014-07-04 18:47] #41 closed, assigned to nobody

[2014-07-04 23:56] #38 closed, assigned to nobody

[2014-07-05 03:09] #39 closed, assigned to nobody

[2014-07-05 07:02] #28 closed, assigned to nobody

[2014-07-06 22:04] porjo opened #44 "ssl"
Could vulcand be given the ability to handle SSL terminations?

I think the only workable approach would be to use SNI (virtual hosts for SSL). [This post](https://groups.google.com/forum/#!topic/golang-nuts/rUm2iYTdrU4) outlines how it might be achieved.

Certificates could be stored in etcd backend but the challenge will be how to manage the private keys...

[2014-07-08 13:08] 3onyc opened #45 "Support for setting TrustForwardHeader?"
We are currently running vulcand behind an SSL offloader which also sets X-Forwarded-Proto.

The Vulcan library supports forwarding this header if `location.options.TrustForwardHeader` is set (See https://github.com/mailgun/vulcan/blob/master/location/httploc/httploc.go#L198).

Is it possible to set `TrustForwardHeader` in vulcand, or is that not (yet) implemented?

[2014-07-09 00:49] porjo opened #46 "serverWriteTimeout default"
Using the recently renamed flag `serverWriteTimeout` I'm seeing an issue where a large download (i.e. from backend server, through proxy to client) is exceeding the timeout threshold (i.e. download takes longer than 60s) and the connection is dropped. Smart clients will auto-resume, however many do not (including Firefox web browser) resulting in a truncated file.

Increasing `serverWriteTimeout`

[2014-07-09 00:49] #35 closed, assigned to nobody

[2014-07-09 02:21] porjo opened #47 "rewrite path"
I'd like to be able to have a single host with 2 locations specified e.g.

[code]

Where:
`http://example.com/bar/xyz` is sent to upstream host1 as `http://host1/bar/xyz`
`http://example.com/foo/xyz` is sent to upstream host2 as `http://host2/xyz` i.e. the path specified in the `path` key is stripped off.

I realise this could be achieved with middleware, but I wonder if it isn't a common enough c

[2014-07-13 05:31] #47 closed, assigned to nobody

[2014-07-13 11:36] fracklen opened #49 "Etcd expire"
It's very useful to have ttl in etcd. Etcdbackend does not handle action == 'expire'.

Is there any use case where expiry should be different from delete?

[2014-07-18 07:24] porjo opened #50 "go-etcd"
I notice that vulcand uses a forked version of go-etcd library rather than the upstream version. I'm guessing upstream broke at some point?

Surely it would be better to use Godeps to fix the version to a known good point, and submit patches upstream?

[2014-07-18 12:44] porjo opened #51 "etcd client - empty body error"
I'm seeing a weird issue where _exactly_ 5mins after vulcand has started, it shuts down with error:

[code]

I've enabled some debug and discovered that the etcd client is getting a response back with an empty http body, hence the unmarshall error.

This only seems to have started since I updated CoreOS. The update includes a newer etcd version - 0.4.5

I'm starting vulcand as follows:

[code]

[2014-07-18 23:37] #51 closed, assigned to nobody

[2014-07-23 22:49] #50 closed, assigned to nobody

[2014-07-24 15:27] mbentley opened #52 "Endpoint failover/retry not working as expected"
I am using a basic setup where I am trying to load balance two Tomcat instances running in Docker containers.  Each has an endpoint listening on a high port number.  They are load balanced as expected in a round robin fashion when both are functioning.  The problem I am encountering is when the connector is configured to only start on init (using `bindOnInit`).  This makes it so that when a deploy

[2014-07-24 18:06] #52 closed, assigned to nobody

[2014-07-28 14:46] bradgignac opened #53 "Make Documentation Public"
Currently, the docs repo that powers vulcanproxy.com is private. Can we make this public so non-Mailgunners can contribute fixes?

[2014-07-31 16:34] dpup opened #54 "Allow fallback through etcd configuration"
If the specified upstream is down or not responding a fallback would be useful for common error pages.

Perhaps

[code]

[2014-08-04 03:25] mischief opened #55 "vulcand exits when etcd watch fails"
https://github.com/mailgun/vulcand/blob/master/backend/etcdbackend/etcdbackend.go#L399

results in the following on my coreos cluster:
Aug 04 02:17:25 coreos.novalocal bash[6109]: ERROR Aug  4 02:17:25.192: [etcdbackend.go:405] Stop watching: Etcd client error: unexpected end of JSON input
Aug 04 02:17:25 coreos.novalocal bash[6109]: INFO  Aug  4 02:17:25.192: [service.go:121] Stopped watching cha

[2014-08-04 04:40] mischief opened #56 "not in conformance with go recommendations of lower-cased errors"
see https://code.google.com/p/go-wiki/wiki/CodeReviewComments#Error_Strings for the convention on  creating error strings in go. as i understand, error strings should be lowercased. however, it's OK for log messages to be uppercased.

[2014-08-04 07:27] horkhe opened #57 "502 Bad Gateway"
Way too short upstream timeout makes Vulcand prematurely quit waiting for a response from an upstream and request another upstream instance. That can repeat several times within one request timeout. As a result clients receive 502 Bad Gateway as a response and upstreams are DOSed by Vulcand.

[2014-08-04 08:29] horkhe opened #58 "Not authenticated response reply"
If authentication information is not provided in a request, the Vulcand responds with:

[code]

if authentication information is not valid in a request, then Vulcand responds with:

[code]

At the same time the rest of Mailgun in either cases responds with:

[code]

Note the different return codes, and what is more important the presence of the **WWW-Authenticate** header in the latter case. So Vu

[2014-08-05 17:17] #6 closed, assigned to nobody

[2014-08-05 18:56] SEJeff opened #61 "Support consul in addition to etcd"
[Consul](http://www.consul.io/) is another k/v store similar to etcd, but it has more functionality and does better in network partition testing via the jepsen tests. Bonus points that the hashicorp guys are amazing and do great stuff.

Please consider it as a backend for vulcand in addition to etcd please. Kelsey Hightower's [confd](https://github.com/kelseyhightower/confd) is a tool that also su

[2014-08-07 00:14] #61 closed, assigned to nobody

[2014-08-09 02:22] #55 closed, assigned to nobody

[2014-08-10 19:07] #53 closed, assigned to nobody

[2014-08-11 11:07] fracklen opened #64 "Transparency"
I have a service behind vulcan where i need the url to contain another url (encoded)

[code]

As mentioned in #40 vulcan rewrites this url to

[code]

I'm aware that vulcan doesn't claim to be a transparent proxy, but as the docs (http://golang.org/pkg/net/url/) describe, the server could consult req.RequestURI and use URL{Host: "example.com", Opaque: "..." }

Is there any reasonable usecase where

[2014-08-15 08:11] rimusz opened #65 "Unexpected error: 401: The event in requested index is outdated and cleared (the requested history has been cleared"
I'm getting these errors:
[etcdbackend.go:429] Unexpected error: 401: The event in requested index is outdated and cleared (the requested history has been cleared [5420728/3680799]) [5421727], reconnecting

And for some of my sites I get then {"error":"Bad Gateway"}, but these sites for sure have the right host:ip.
To get all sites working again I need to restart vulcand service. I'm on CoreOS lat

[2014-08-18 17:19] #45 closed, assigned to nobody

[2014-08-27 20:23] #64 closed, assigned to nobody

[2014-09-07 02:13] bradgignac opened #70 "Vulcand Dashboard"
Build a realtime dashboard to help visualize status and detect anomalies with a Vulcand deployment. For reference, here are the dashboards provided by several other open source projects:
- HAProxy - http://blog.loadbalancer.org/wp-content/uploads/2013/04/HaproxyStats114000cons.png
- nginx - http://demo.nginx.com/status.html

[2014-09-09 11:36] volker-schukai opened #71 "wrong image-name in doc ( mailgun/vulcan -> mailgun/vulcand)"
docker run -p 8182:8182 -p 8181:8181 mailgun/vulcan /opt/vulcan/

should

ocker run -p 8182:8182 -p 8181:8181 mailgun/vulcan **d** /opt/vulcan/

http://www.vulcanproxy.com/proxy.html#docker-builds
https://registry.hub.docker.com/u/mailgun/vulcand/

[2014-09-11 22:13] #58 closed, assigned to nobody

[2014-09-11 22:14] #57 closed, assigned to nobody

[2014-09-12 23:07] #71 closed, assigned to nobody

[2014-09-12 23:23] #56 closed, assigned to nobody

[2014-09-12 23:27] #44 closed, assigned to nobody

[2014-09-13 07:15] robszumski opened #75 "Allow configuration by environment variables"
It would be great to be able to configure vulcand with environment variables that have similar names to the flags:

`-etcd` or `$VULCAND_ETCD`
`-port` or `$VULCAND_PORT`

[2014-09-13 10:57] porjo opened #76 "delete host panic"
I added a listener `/vulcand/hosts/mailgun.com/listeners/l1` using etcdctl which resulted in the following error being logged by vulcand:

[code]

The error is correct - the address is in use. I removed the listener using etcdctl, however shortly after vulcand paniced with the following errors:

[code]

[2014-09-13 11:00] porjo opened #77 "listeners config"
I'm a little confused by the new listeners feature. If I want to specify a common port to be used by all hosts, what etcd path should I use?

[2014-09-13 23:01] dpup opened #78 "Support websockets"
Unless I'm missing something, websocket reverse proxying doesn't work.  I haven't looked into what it would require to support this, but it would be pretty nice.

[2014-09-14 04:04] #46 closed, assigned to nobody

[2014-09-14 21:14] #76 closed, assigned to nobody

[2014-09-15 17:36] #49 closed, assigned to nobody

[2014-09-16 10:59] fracklen opened #80 "Log level"
Would it be possible to change the log level?
Cutting out info would make our logs a couple of GB / day smaller.

[2014-09-16 19:44] #77 closed, assigned to nobody

[2014-09-16 20:37] klizhentas opened #81 "Support statsd"
Emit the following metrics:
- Counter: each response codes
- Set: response codes
- Timer: Roundtrip times
- Counter: Errors

Metrics should be emitted for each endpoint, upstream and location.

Endpoint metrics can be emitted in the following form:

<vulcan-statsd-prefix>.<upstream-id>.<endpoint-id>

Location specific metrics will be emitted in the following form:

<vulcan-statsd-prefix>.<hostname

[2014-09-17 21:44] #37 closed, assigned to nobody

[2014-09-18 07:24] zhaoweiguo opened #82 "rewrite or proxy_pass"
here is part of command <pre>vulcanctl status</pre>:

<pre>
host[name=qux.org]
    │
    │
    ├location[id=loc3, path=/home]
    │ │
    │ └upstream[id=up2]
    │   │
    │   └endpoint[id=e3, url=http://192.168.35.141:5003, 0 requests/sec, 0.00 failures/sec]
    │
    └location[id=loc31, path=/.*]
      │
      └upstream[id=up2]
        │
        └endpoint[id=e3, url=http://192.168.35.141:5003, 0

[2014-09-18 23:13] #81 closed, assigned to nobody

[2014-09-19 03:58] klizhentas opened #85 "Add support for hot binary upgrades"
I like how nginx does that - borrow the same signals sequence.

[2014-09-24 09:07] zhaoweiguo opened #87 "global middleware"
I have such use case:

<pre>
I have a ip blacklist.  the ip in blacklist will not be allowed to go on for the endpoint...

Now i use middlewares to do such job~ it seems i have to add the blacklist to all of locations~
Now i have thousands of locations, and dozens of black ips.
so "thousands * dozens"....
</pre>

I just want to know what should i do to solve such problem...

[2014-09-24 09:27] zhaoweiguo opened #88 "loadbalance——weight round robin"
I have 2 servers running the same service~  server A is much better than B.
So I just want A do more task~

PS:

I tried add several As in "upstreams/[upstream]/endpoints", like :

<pre>
e1: http://127.0.0.1:5000
e2: http://192.168.35.141:5001
e3: http://192.168.35.141:5001
e4: http://192.168.35.141:5001
</pre>

But it seems not work like i hope~

Is there other method to do this? or you think it

[2014-09-25 07:40] zhaoweiguo opened #89 "middleware auth things"
when I add two users config like:

<pre>
$ etcdctl set /vulcand/hosts/localhost/locations/loc1/middlewares/auth/auth1 '{"Type": "auth", "Middleware":{"Username": "user", "Password": "secret1"}}'
$ etcdctl set /vulcand/hosts/localhost/locations/loc1/middlewares/auth/auth1 '{"Type": "auth", "Middleware":{"Username": "user2", "Password": "secret2"}}'
</pre>

then i get 403 no matter i use:

<pre>$ cu

[2014-09-26 15:04] #85 closed, assigned to nobody

[2014-09-26 21:48] #89 closed, assigned to nobody

[2014-09-28 17:54] #80 closed, assigned to nobody

[2014-09-29 11:48] zhaoweiguo opened #92 "location things——Which location will be selected"
I have these question:
1. TrieRoute("/home/*")    What does it stand for?
2. Can TrieRoute and RegexpRoute be exist at the same time? like:

<pre>
  ├loc[loc1, corge.at, TrieRoute("/home/abc"), 0.0 requests/sec, 0.00% failures]
  ├loc[loc2, corge.at, RegexpRoute("/home/*"), 0.0 requests/sec, 0.00% failures]
</pre>

If I change to

<pre>
  ├loc[loc1, corge.at, TrieRoute("/home/abc"), 0.0 requests/s

[2014-09-30 00:13] glycerine opened #93 "vulcanctl vulcand -sealKey produces "No help topic for 'vulcand'""
At commit 87044d3153383b744deeeab9d5e12701a83ea86f

Following the instructions under TLS -> Managing certificates -> generating seal key (http://www.vulcanproxy.com/tls.html#managing-certificates), I get the following unexpected error.

The docs should include an example, because it isn't clear if we are supposed to provide the key value or the _filename_ that contains the key value. Or this might

[2014-09-30 16:54] dpup opened #94 "Error getting hosts prevents start up"
I've seen this a number of times, following a restart or some other event, the vulcan instances fail to start due to the following error:

`Error getting hosts: 100: Key not found /vulcand/hosts/myhost.com/locations/home/path`

The key has been intentionally removed, or timed out, from etcd.

[2014-10-04 18:38] #93 closed, assigned to nobody

[2014-10-04 21:18] glycerine opened #98 "etcd: Key not found (/vulcand)"
I started etcd. When I try to start vulcand, I get:

[code]

[2014-10-04 21:29] #98 closed, assigned to nobody

[2014-10-04 21:33] glycerine opened #99 "vulcand error reported: failed to add middleware: Max connections should be >= 0"
Copying all the etdctl setup statements from the manual (http://www.vulcanproxy.com/proxy.html#etcd), then starting vulcand, I get the following error. Vulcand still runs (no panic), but perhaps a max connections setting needs to be added to the example in the manual?

[code]

[2014-10-06 12:54] ndarilek opened #100 "Expand rewrite to support protocol and response codes"
Was looking into how to replicate the following Nginx config:

  server {
    server_name thewordnerd.info;
    rewrite ^ https://thewordnerd.info$request_uri? permanent;
  }

but it looks like the rewrite middleware only supports path rewrites.

Would be nice if I could also change other aspects of the URL as well as the response code.

[2014-10-06 22:20] #99 closed, assigned to nobody

[2014-10-09 03:22] zhaoweiguo opened #104 "Can middleware do the loadbalance?"
Here is my use case:
I have two point route: one is configured manual(about dozens, use regexp), the other is stored by mysql(about thousands, full matching).
So I just want put the first one into etcd, use the normal way; But the second I want to implement it in middleware.

So if it matched in the middleware, I needn't to go to the endpoint in the normal way.

[2014-10-18 23:00] fracklen opened #110 "Load-Balance Least connection - with cluster"
[enhancement]
In our scenario, we have 2 instances of vulcand running traffic to a bunch of containers.
Some of our containers can't handle that much traffic and with 2+ instances the risk of blocking
a container is present. Hooray for birthday-theorem.

Would it be possible to implement cross-cluster least-connections load balancing?

I'm not sure etcd is fast enough to use as a backend for this.

[2014-10-28 19:26] ralphm opened #112 "Invalid statsd metric names"
Vulcand sends metrics to statsd that don't conform to its protocol:

[code]

This causes statsd to trash and fill its logs with error messages. The problem is the colon between IP address and port number. Statsd simply splits on the colon to distinguish between the metric name and the value, and this additional colon trips it up. Unfortunately, statsd doesn't have an escaping mechanism. It replace

[2014-10-31 19:10] #65 closed, assigned to nobody

[2014-11-03 10:44] schmitch opened #115 "[Enhancement] Export/Import settings"
Hello,
it would be great to have a export / import function of the settings so that we could create predefined settings and import them easily.

[2014-11-05 22:52] schmitch opened #116 "Listeners for HTTPS and Keypairs getting applied to ALL hosts"
Hello currently when I add an https Listener to one of my hosts every other host gets this listener (and keypair), too. this is an really undesired behavior. Since sometimes I have a host only on http.

[2014-11-08 17:40] oguzbilgic opened #119 "Is it possible to set a default host (catch-all)"
Is it possible to configure a default host (catch-all)? We are working with hundreds domains so Its not viable for us to setup a unique host for each domain. Im hoping that there is a solution, because vulcand looks very promising for us right now.

[2014-11-09 17:38] schmitch opened #120 "[Enhancement] Rewrite Plugin should rewrite http to https"
Hello,
It would be cool, if vulcand could have a native way to redirect http to https.
Currently the rewrite plugin only allows to redirect a location/path to another.
It would be cool to have a Matcher that allows to match the complete URL and redirect to another like http://foo.bar to https://foo.bar or like http://foo.bar/admin/* to https://foor.bar

[2014-11-11 21:30] #112 closed, assigned to nobody

[2014-11-15 18:58] schmitch opened #124 "vulcanctl fails with ERROR: Internal Server Error"
Against the current Version vulcanctl fails with ERROR: Internal Server Error
which gives

[code]

inside the logs

Also my vulcand create a lot of shitty locations which needs to be deleted manually since I can't start a new vulcand if these locations exists.

**EDIT:**

It seems that the "shitty" locations are the problem.

After restarting mailgun/vulcand i get a lot of empty locations on some

[2014-11-24 17:45] eridal opened #128 "Scroll jumps on docs"
Browser: latest Firefox mobile

Whenever you scroll, the page starts moving down and, when it's finally slowing, the scroll jumps up some lines, making really hard to follow the reading. You're continuously forced to re-scroll down a little bit extra, which sometimes causes the bug again..

[2014-11-25 23:23] technolo-g opened #129 "Support for self-signed certificates on upstream endpoints"
Due to the dynamic nature of the backends, it would be nice if one were able to use self-signed certificates for upstream endpoints. One way that I would envision this working could be specifying a CA certificate to use such as curl's --cacert option [1] or perhaps just a way to accept untrusted certs.

[1] http://curl.haxx.se/docs/sslcerts.html

[2014-12-16 22:30] F21 opened #134 "OCSP stapling support"
I would love to see [OCSP stapling](http://en.wikipedia.org/wiki/OCSP_stapling) support to reduce OCSP validation costs.

[2014-12-17 21:41] patrickbcullen opened #135 "Matching all root context for a domain"
Is there a way to get vulcand to match the root context of a domain as in domain1.com/? I tried setting the the location/loc1/path = 'Path("/")' but that did not work.

[2014-12-18 11:28] #135 closed, assigned to nobody

[2014-12-22 17:22] BTBurke opened #137 "Build fails under Go 1.4"
Build fails under Go 1.4 due to old go.crypto source.  Pull request on the way.
[code]

[2014-12-26 16:13] max107 opened #139 "vctl backend rm"
[code]

wat?)

[2014-12-26 17:19] max107 opened #140 "How to create endpoint/location/host/upstream scheme in new vulcand?"
After rewrite vulcand how to set this scheme:
- add upstream `u1`
- add host `example1.com` to `u1` upstream
- add location with path `/` to `example1.com`
- add endpoint to `u1` upstream with url `localhost:3001`

Run dummy server on `localhost:3001`

[code]
- add upstream `u2`
- add host `example2.com` to `u2` upstream
- add location with path `/` to `example2.com`
- add endpoint to `u2` upstrea

[2014-12-26 19:15] #119 closed, assigned to nobody

[2014-12-27 00:06] #140 closed, assigned to nobody

[2014-12-27 01:08] #139 closed, assigned to nobody

[2014-12-28 10:20] drouchy opened #142 "intermittent no data ready error"
Hi,

I've setup vulcand v0.8.0-alpha to serve multiple services. One is uchiwa, which serves an webapp, and I've got intermittent errors when I request the web frontend:

[code]

It's intermittent, because the failed request is never the same - can be the html page, or the css or no js file.... -

not sure what's happening

Cheers,

David

[2014-12-28 10:56] #142 closed, assigned to nobody

[2014-12-28 23:23] porjo opened #143 "v0.8.0: hosts doco"
It is not clear from the doco how to associate a frontend with a host. Or to put it another way, how do I configure specific routing for a particular host?

[2014-12-29 23:28] porjo opened #144 "tls - stronger crypto"
TLS sites hosted with vulcand currently get a 'C' score when scanned using Qualys SSL labs tool: https://www.ssllabs.com/ssltest/analyze.html

It would be good to use more secure defaults. This following snippet shows how that can be done:

[code]

[2014-12-29 23:45] #144 closed, assigned to nobody

[2015-01-01 00:41] klizhentas commented on #143
Added a special section for host based routing in the docs:

http://docs.vulcand.io/proxy.html#routing-language

[2015-01-01 00:41] #143 closed

[2015-01-01 00:57] porjo commented on #143
Thanks.

What does this mean?:

Did you mean to say:

Also, it is not clear to me *where* to use the routing language. Can this be done from command line, or must I implement middleware in Go?

[2015-01-01 01:12] klizhentas commented on #143
Every Vulcand frontend has a special Route field for routing requests.

[2015-01-01 04:04] porjo opened #147 "gzip"
Testing v0.8.x

Vulcand is returning zero-length content when the backend server sends gzipped content.

For example, the following header is returned by my backend:

[code]

The client sees the following header instead:

[code]

This wasn't an issue with previous vulcand version. Disabling gzip on the backend resolves the issue.

[2015-01-01 04:41] mailgun-ci commented on #147
Try 0.8.0-alpha.3, I've just fixed this bug :)

Sent from my iPhone

[2015-01-01 04:47] porjo commented on #143
Ah, that was the missing piece of the puzzle. Thanks!

[2015-01-01 05:04] porjo commented on #147
That's fixed for me. Thanks.

[2015-01-01 05:26] klizhentas commented on #147
Ok, closing then

[2015-01-01 05:26] #147 closed

[2015-01-01 06:48] porjo opened #148 "tls listener"
I'm trying to get TLS working with v0.8.x but not having much luck (I did have it working with prior version).

These are the config steps I've taken:

[code]

After that vulcand would fail on startup with this message:

[code]

Creating an empty key seemed to fix that:
[code]

Is that necessary??

Now vulcand starts OK and is listening on port `8183` however is not handling TLS connections.

Atte

[2015-01-01 08:49] klizhentas commented on #148
Note that config format for the host in etcd has changed. Threre's no more `keypair`.
Instead there's only one property `host` that contains all the settings including the keypair:

[code]

The easiest way to set that is to use

[code]

The tool will do the proper serialization for you.

[2015-01-01 08:49] klizhentas commented on #148
I will fix the panic though just in case

[2015-01-01 23:20] #137 closed

[2015-01-02 21:26] porjo commented on #148
Thankyou, I have it working now using the following command:
[code]

Could you please update the TLS section of the doco when you get a chance.

[2015-01-02 21:47] klizhentas commented on #148
Sure,

I did not actually realise that it was outdated

[2015-01-04 23:32] porjo commented on #120
I've played with this again using v0.8.0, unfortunately I still can't get it to work.

The rewrite middleware does not receive the `https` scheme in the URL [here](https://github.com/mailgun/vulcand/blob/master/plugin/rewrite/rewrite.go#L152). Because of this, the input URL always defaults to `http` and so the rewrite is applied every time, resulting in a redirect loop.

[2015-01-04 23:42] klizhentas commented on #120
OK, thanks for your research. Not sure why https is not passed though, needs more research

[2015-01-06 03:50] porjo commented on #120
According to the docs for [http.Request](http://golang.org/pkg/net/http/#Request), referencing `request.URL.Scheme` (as is being done in rewrite.go) is not expected to work:

It seems that checking `request.TLS != nil` is the standard way of determining scheme in this case, however that doesn't work in rewrite.go either as the value is always `nil`. I suspect that something in the *manners* lib ma

[2015-01-06 05:34] klizhentas commented on #120
Great, thanks for digging into this. I assume that this function is the one we need to fix:

https://github.com/mailgun/vulcand/blob/master/Godeps/_workspace/src/github.com/mailgun/oxy/stream/stream.go#L278

This is the vendored oxy lib that forgets to copy over the flag

[2015-01-06 07:20] porjo commented on #120
Unfortunately that's not it. I've just tested and `req.TLS` is always nil in that function (even for https requests). There must be another point further upstream where it's getting stripped.

[2015-01-07 06:15] klizhentas commented on #148
Fixed

[2015-01-07 06:15] #148 closed

[2015-01-07 06:21] klizhentas commented on #128
cc @leemunroe hey Lee, Vulcand docs use Mailgun docs, is it something you can take a look at?

[2015-01-08 03:54] klizhentas commented on #120
If you are curious, here was the bug and the resolution:

https://github.com/mailgun/manners/pull/4

I will merge this in this week

[2015-01-08 18:41] klizhentas opened #151 "Collect user stories"
If you are using Vulcand at any project, feel free to post your comment telling your story here, I would love to know how does it work for you. I'm going to post some user stories in Readme and blog.

Thanks,
Sasha

[2015-01-08 20:08] dademurphy commented on #129
+1. This would also facilitate <a href="https://github.com/bradfitz/http2">HTTP/2</a> or SPDY to backends.

[2015-01-08 21:09] #134 closed

[2015-01-11 23:05] porjo commented on #120
@klizhentas Thanks - I look forward to the fix.

[2015-01-12 23:40] klizhentas commented on #120
merged, *TLS is not nil now, however I did not change logic inside `rewrite` yet

[2015-01-13 06:09] porjo opened #154 "travis CI"
Any reason why the Go unit tests couldn't be run through travis CI?

[2015-01-13 06:31] porjo commented on #154
Go test coverage via [Coverals](https://coveralls.zendesk.com/hc/en-us/articles/201342809-Go) might be nice too :smile:

[2015-01-14 22:07] glenselle commented on #78
Any progress on this?

[2015-01-15 01:50] klizhentas commented on #120
Fixed

[2015-01-15 01:50] #120 closed

[2015-01-15 03:08] porjo commented on #120
@klizhentas thanks

@schmitch FYI, the following rewrite rule is working for me:

[code]

[2015-01-15 21:39] porjo opened #156 "out of memory"
I've been having some issues hitting hard RAM limit on my box (swap is disabled). I noticed this message in the output of `journalctl`:

[code]

RSS of ~400MB seems excessive. This instance only receives very light traffic, so I'm guessing perhaps there is a memory leak? Sorry I don't have any other data to back that up at this stage.

[2015-01-15 21:43] porjo commented on #156
I've just re-built vulcand from latest commit, just to be sure I'm not hitting an old bug. I'll continue to monitor.

[2015-01-15 23:29] klizhentas commented on #156
Wow, that's a serious one. I'll spend some time digging into it, thanks for reporting!

[2015-01-16 02:03] klizhentas commented on #129
Here's something that works:

http://www.vulcanproxy.com/proxy.html#tls-options
http://www.vulcanproxy.com/proxy.html#https-backends

[2015-01-16 02:04] klizhentas commented on #129
Released in `v0.8.0-beta.1`

[2015-01-16 15:09] schmitch commented on #120
@porjo yeah thanks, that works :+1:

**OFFTOPIC:**
Also I think that sentence is just untrue:

    It's not general-purpose reverse proxy - it is focused on microservices and API use-cases.

Especially since http://blog.vulcanproxy.com/vulcand-news-scoped-listeners/
There are a lot of things that makes vulcand a good reverse proxy for a lot of things and not only microservices.

The only thing whi

[2015-01-16 22:49] klizhentas commented on #156
I think I've found it. Anyways, try it (v0.8.0-beta.2) out and if you sill experience it, feel free to reopen.

[2015-01-17 02:24] slantview commented on #9
Where is this at? We use a custom service discovery that is based on [Eureka](https://github.com/Netflix/eureka). I'm writing a custom engine, but the service package still explicitly uses etcdng. If you can outline how you would like this to look from a design perspective of loading engines, I'd be willing to help out.

[2015-01-17 03:45] porjo commented on #156
@klizhentas I haven't tried v0.8.0-beta.2 yet, however my server has been up for the last 16hrs running pprof. I just ran a heap analysis:

[code]

From that, it looks like hdrhistogram is the culprit!

[2015-01-17 04:01] klizhentas commented on #156
Yep, that happened because on every reload vulcand did not clean up the histograms because the go routine kept a reference to them, so try the new version out to see if it's any better

[2015-01-17 04:43] porjo commented on #156
Ah, ok - I'll give it a try! Thanks

[2015-01-17 05:04] porjo commented on #120
@schmitch you could use a `HostRegexp` to match on multiple hostnames e.g. `www.foo.bar` and `foo.bar`:
[code]

Admittedly using regex for this will be inefficient when dealing with a lot of entries.

[2015-01-17 05:19] klizhentas commented on #9
@slantview

Steve, after thinking some time about your question, I would take the same approach as with middlewares:

https://docs.vulcand.io/middlewares.html

I will spend some time in the next several days to roll out the support in `bundle` and will write an example article for you.

Thanks,
Sasha

[2015-01-17 06:17] slantview commented on #9
Oh wow, thanks for the fast response. What do you think about run-time? I was thinking that changing the flags from -etcd* to -engine and -engineOptions would be good, then we could standardize the stuff passed to engine.New and let each engine parse the configs passed in, or potentially offer a config item with a standardized map of options passed to engineOptions with a key:value set.

Thoughts?

[2015-01-17 06:20] klizhentas commented on #9
I was thinking about using the same pattern as for middlewares:

https://github.com/mailgun/vulcand-auth/blob/master/auth/auth.go#L86

Basically each engine plugin will define a set of command line flags that would make sense for it, so a compiled version of vulcand will accept the right parameters with validation.

[2015-01-17 06:26] slantview commented on #9
I'll spend some time looking at it this weekend, that sounds cool. I haven't played with middlewares yet, but that sounds legit.

Also would love to chat privately about what scale you run this at. If you don't mind, I'd love to hit you up on email to discuss.

We run a very large worldwide game, and I'm looking at using this for some stuff, but our scale usually crushes software. :P

Either hit m

[2015-01-17 06:31] klizhentas commented on #9
Sure, would like to know better about the scale and request distribution, can definitely share some expectations about it's performance under various conditions.

Just email me next week: sasha.klizhentas@mailgunhq.com

[2015-01-18 02:31] technolo-g commented on #129
Awesome, thanks @klizhentas! I'll give it a spin :)

[2015-01-18 23:50] porjo commented on #156
Just FYI, my server has been running for 10hrs and the memory usage looks much better since the fix. Heap analysis is as follows:

[code]

[2015-01-19 01:07] klizhentas commented on #156
Thanks for the update!

[2015-01-19 04:48] porjo opened #159 "ratelimit bad responses"
I'd like to create a middleware that limits the number of bad responses a client can generate per hour. For example, a failed auth attempt may generate HTTP 401. To combat password brute force attacks, it would be nice to only allow each client IP to make, for example, 10 per hour.

I've taken a look at the existing ratelimit plugin, however it seems that I would not be able to extend it using the

[2015-01-19 05:27] klizhentas commented on #159
I actually spent some time thinking about the similar problem we have at Mailgun and discussed the possible solutions with peers at the office a while ago.

My suggestion is to implement a special plugin - ``fail2ban``

``fail2ban`` has two properties, `pattern` and `action`.

* `pattern` is a metric-based patter to activate the action, similar to what we have in the circuit breaker:

http://docs.

[2015-01-21 14:11] schmitch commented on #151
As already told you, we at envisia.de use it as a general purpose proxy for customer website's (not that many yet). So we use vulcand as a general purpose proxy even if told so we shouldn't.
Still our experience had some issues at first, due to the early adoption I think. But as the time grew, everything is solved really greatful.
If we have a new customer we generate a new Docker Container and up

[2015-01-21 20:50] klizhentas commented on #151
@schmitch Thanks a lot for your feedback and user story, I appreciate it! Regarding generic reverse proxy thing - it's mostly to highlight what my priorities are, I think your use case-makes sense for sure. I'm actually hosting vulcand docs using Vulcand myself :-)

[2015-01-24 23:14] SEJeff commented on #151
Still not using it 'in production' yet, but have started building an internal PaaS powered by vulcand, mesos, and apache aurora for hosting a ton of internal webapps. I finalized on aurora after creating [this diagram](https://twitter.com/SEJeff/status/558489698319204352) since [docker support](https://reviews.apache.org/r/28920/) landed in Aurora master and will make it into 0.7.

[2015-01-25 03:59] klizhentas commented on #151
@SEJeff Thanks a lot for sharing, let me know how it works for you when done!

[2015-01-26 15:05] schmitch opened #162 "changes to etcdKey shouldn't be done with apostrophe"
Hello, I've run into this issue several times and always my vulcand failed.
If you put your etcdKey or any other configuration value inside an apohstrophe (-etcdKey="vulcand") the vulcand service will issue it wrong and will add an etcd key with /"\vulcand\" instead of /vulcand.

We should either fix this or add an note here:

don't add apohstrophe's.

[2015-01-27 08:38] fracklen commented on #151
At [Lokalebasen.dk](http://www.lokalebasen.dk "lokalebasen.dk"), we started using it as of summer '14.
At the time we used [kelseyhightower/confd](https://github.com/kelseyhightower/confd "confd") + nginx to get the same effect of using etcd as backend.
The old process was prone to a lot of errors, and often put nginx in a bad state.

Now we're using vulcand to host most of our apps in production.

[2015-01-27 08:40] omegahm commented on #151
:+1: on the Lokalebasen.dk story

[2015-01-27 12:35] SEJeff commented on #151
@fracklen Care to elaborate on why you chose nginx/varnish in front of vulcand? What does vulcand not provide that nginx/varnish does wrt reverse proxying?

[2015-01-27 13:39] fracklen commented on #151
@SEJeff sure

Varnish is only there for caching. Although we have some special caching policies, where we want some content cached public, although a cookie will be sent from the client. I don't see why vulcand should bother with that. The VCL is very powerful for it's specific purpose.

Nginx currently routes traffic to our main application outside of vulcand. In there we need some special rules:

[2015-01-27 14:22] schmitch opened #163 "GET Query Parameter won't get forwarded"
Hello, currently I've setup a backend and a frontend with that command:

[code]

now I have an url of license.asvg-solutions.de/check?imei=1234567&key=AxVzD

The Query parameters won't get forwarded to my backend servers.
Currently I've used a quick Flask application to test the behaviour / print all query paramters:

[code]

which just prints out ```ImmutableMultiDict([])```
Currently this is run

[2015-01-27 22:44] robszumski opened #164 "Unsure how to debug "unexpected end of JSON input, stop watching""
I'm unsure of how to track down what's causing:

[code]

Is this the etcd watch closing after no activity? Or do I actually have invalid data in my etcd keys? Here they are:

[code]

[code]
[code]

[code]

[2015-01-27 22:53] klizhentas commented on #164
That's strange. I've just repeated your setup with no problem:

[code]

What version are you on?

[2015-01-27 23:58] robszumski opened #165 "Support encoded "&" in routing rules"
AFAICT, Go's json marshaling will escape `<`, `>`, `&` because of security implications. Vulcan should support rules formatted this way.

[code]

[2015-01-28 00:05] robszumski commented on #164
I was running `v0.8.0-alpha.3`. I'll try again with the latest beta.

I think this might be due to the etcd watch being closed after 1000 events (etcd snapshot size).

[2015-01-28 00:06] klizhentas commented on #164
Vulcand automatically reloads itself when encountering these errors, so that should not be an issue. What I fund confusing is:
[code]

That means that Vulcand can not find any frontends in the config, what should not be the case

[2015-01-28 00:09] robszumski commented on #164
That log line might have been written before I issued my etcd requests, so we probably don't need to worry about that. I assumed the json error was my formatting since I happened to be debugging my etcd code (which think it was working fine) but that error was throwing me off. Ideally that's not printed in the log if its not a big deal.

[2015-01-28 00:12] klizhentas commented on #164
ah, got it. I can make it an info, as it does not really affect anything at all

[2015-01-28 11:37] thedrow opened #166 "uWSGI protocol support"
In order to be able to completely use vulcand without another reverse proxy such as nginx I'd like to have support for the [uwsgi protocol](http://uwsgi-docs.readthedocs.org/en/latest/Protocol.html) in vulcand.
uWSGI supports multiple languages including Python, Go, Perl and Ruby.
That way, uWSGI can emit responses faster and allow the reverse proxy to respond with the appropriate HTTP(s) response

[2015-01-28 12:59] thedrow commented on #166
I hope that https://github.com/mattn/go-uwsgi can help implementing this feature.

[2015-01-30 02:32] geowa4 commented on #151
I'd like to see a way to have some kind of affinity for a particular server. I have a very simple cluster of 3 nodes with Vulcand (and etcd) on each. I also have the same 4 or 5 Docker containers running on each instance. I'd like a way for Vulcand to prefer the local instance of a service over the ones on other boxes. I could easily pass in the value of `hostname` as an argument to the Vulcand pr

[2015-01-30 05:06] klizhentas commented on #151
@geowa4 Thanks for your feedback. I think this can be implemented by latency-based weighted load balancing algorithm. In case if latency difference are negligible, Vulcand will load balance round robin, in case if local servers are way better Vulcand can prefer the local servers. Let me know what do you think about it.

[2015-02-05 22:00] #163 closed

[2015-02-12 10:39] jamesrwhite opened #170 "No response body from circuit breaker middleware"
Hey,

I've been testing out the circuit breaker using the latest version from master at the time of writing and while I can correctly trigger the breaker and see it setting the content type and response code the body is never set for the fallback response.

I've tried using the example in the docs and this also but neither worked:

[code]

The rest of the config we have is:

[code]

I've been test

[2015-02-12 19:10] klizhentas commented on #170
Thanks for the report, I will take a look into this

[2015-02-13 05:31] chendo opened #171 "TCP load balancing support"
Similar vein to https://github.com/mailgun/vulcand/issues/78, but just for raw TCP.

[2015-02-13 14:47] jamesrwhite commented on #170
Thanks, let me know if there's any more info I can prove to help out :)

[2015-02-15 23:43] porjo commented on #164
:+1:  for making it `INFO` - my logs are full of these!

I recall etcd introduced a 5min timeout for clients some time back, which corresponds with the timestamps I'm seeing.

[2015-02-16 22:01] mbrevoort opened #172 "Custom Headers to Backend Servers?"
It would be great if you could specify custom headers to be appended to the proxied request at the backend or/and server. For example, if a backend server is a web server that depends on a `Host` header for routing (e.g. Heroku), it would be really helpful to be able to pass this along.

For example:

    {
        "Id": "srv1",
        "URL": "http://myapp.herokuapp.com/",
        "Headers": {

[2015-02-17 00:25] mcculloughsean opened #173 "Allow Frontends to bind to a Listener for routing"
Frontends should be able to bind to a specific listener (e.g. 192.168.0.100:8000) and route those requests to the frontend regardless of the `Host` header.

[2015-02-17 00:27] mcculloughsean commented on #173
cc @klizhentas

[2015-02-18 20:56] porjo commented on #32
FYI, I've been running `vulcand` inside a container built using [`daaku/goruntime`](https://github.com/daaku/goruntime) image which is a stripped down arch linux. Images size is <20MB including vulcand binary. My Dockerfile is:

[code]

[2015-02-18 20:57] klizhentas commented on #32
@porjo PR will be accepted :-)

[2015-02-18 21:25] porjo commented on #32
@klizhentas I'd be happy to. A couple of things:

- the Dockerfile needs to contain a link to the latest Github release binary, which I think means modifying `release.sh` to update `Dockerfile` each time it runs.
- the resulting Dockerfile will only be useful for Linux amd64

Are these changes acceptable to you?

[2015-02-19 00:04] jamesrwhite commented on #170
Any word on this, are you able to use it successfully?

[2015-02-22 07:15] wonderlic-stephene opened #175 "vulcand is mangling x-forwarded-for and x-forwarded-proto headers"
I have vulcand running on a CoreOS cluster behind an Amazon Elastic Load Balancer (ELB) with SSL offload.

I created a dummy application that just prints out the request's headers to verify some things, and found that vulcand is mangling at least two of the expected headers.

If I remove vulcand from in between the ELB and my application, the X-Forwarded-For has the end user's IP address and the X

[2015-02-22 07:18] wonderlic-stephene commented on #175
I will leave up my dummy application for a few days in order to allow others to see the headers received in either case

Here is the version with vulcand in the middle:
https://node-hello.wonderlic.com/
http://node-hello.wonderlic.com/

And, here is the version without vulcand in the middle:
https://node-hello2.wonderlic.com/
http://node-hello2.wonderlic.com/

[2015-02-23 15:54] NatGuyton commented on #173
For a specific use case, I want to be able to run a java app in a docker container with both http and jmxremote ports exposed randomly, and use vulcand to forward requests to the standard ports to the appropriate port on the back end.

[2015-02-25 04:05] #170 closed

[2015-02-25 14:41] schmitch opened #177 "Create Documentation for API metrics"
Currently the endpoints:

    /v2/top/servers?limit=<number>
    /v2/top/frontends?limit=<number>

Aren't documented yet.

[2015-02-25 14:47] geowa4 commented on #151
@klizhentas that would be sufficient. Where would I find the docs on how to get that going?

[2015-02-25 21:04] stith commented on #175
+1

Running the vulcand docker container, X-Forwarded-For is being set to docker's gateway IP. A mechanism to have Vulcand set X-Forwarded-For itself would be great.

[2015-02-26 14:44] jhftrifork opened #179 "Invalid Content-Type "application-json" in HTTP response"
See [this line](https://github.com/mailgun/vulcand/blob/66d7adb6aee0b8de7150e71f7fe7d0b02e6aae47/proxy/mux.go#L607). The string should instead be [something like this](http://stackoverflow.com/questions/477816/what-is-the-correct-json-content-type).

[2015-02-26 23:28] #154 closed

[2015-03-03 21:02] PaulCapestany commented on #78
+1

[2015-03-04 05:16] porjo commented on #175
There is a bool field called `TrustForwardHeader` which can be set when defining your frontend which should give you the behaviour you want e.g.

[code]

I haven't tested it myself, but I can see from the code [here](https://github.com/mailgun/vulcand/blob/master/Godeps/_workspace/src/github.com/mailgun/oxy/forward/rewrite.go#L21) that it will cause previous hops to be included.

[2015-03-04 10:30] sebest commented on #9
Hello,

Any update on a consul backend?

[2015-03-04 15:49] wonderlic-stephene commented on #175
Yep, that worked.  I updated my example above, and it is now setting the x-forwarded-for and x-forwarded-proto headers properly.

[2015-03-04 15:49] #175 closed

[2015-03-04 20:06] sandstrom commented on #9
We're using consul, just chiming in to say a consul backend would be awesome! :fireworks:

[2015-03-04 21:16] Zapadlo opened #180 "Route not matchin Host"
Can't for the life of me figure out what I'm doing wrong.

This is my request:

    curl -i -X PUT -H "Host: Mongo-Writer" -H "Content-Type: application/json" -d "" http://localhost:8080/content/3378ac39-32f9-4106-9884-27cb7dc77877

Which works with the following frontend:

    {"Type": "http", "BackendId": "mongo-writer", "Route": "PathRegexp(`/.*`)"}

From vulcand logs:

    Mar 04 21:07:14 thin

[2015-03-05 01:25] porjo commented on #180
Check your string escaping, for example `Host(Mongo-Writer)` should probably be ``Host(`Mongo-Writer`)``. See http://www.vulcanproxy.com/proxy.html#frontends for more examples.

[2015-03-05 07:46] Zapadlo commented on #180
I think I have, I tried:
`
{"Type": "http", "BackendId": "mongo-writer", "Route": "PathRegexp(`/.*`) && Host(`Mongo-Writer`)"}
{"Type": "http", "BackendId": "mongo-writer", "Route": "PathRegexp('/.*') && Host('Mongo-Writer')"}
{"Type": "http", "BackendId": "mongo-writer", "Route": "PathRegexp(\"/.*\") && Host(\"Mongo-Writer\")"}
`

[2015-03-05 09:13] porjo commented on #180
OK, sorry - I see now that the markdown was messing up where your quotes were!

Do you get the same error when doing a `GET` on `/` e.g.
[code]

Also try enabling debug i.e. `vulcand -logSeverity=DEBUG`

[2015-03-05 09:25] Zapadlo commented on #180
Yep, same error requesting `/`.

I have enabled INFO level logging, don't think DEBUG is a valid value.

[2015-03-05 19:34] klizhentas commented on #180
Hey, sorry for the slow response, I will try to reproduce and will get back to you

[2015-03-06 17:05] Zapadlo commented on #180
Problem was case sensitivity of the HOST headers.
The Header on the request was being converted to lowercase but read from ETCD raw.
PR: https://github.com/mailgun/vulcand/pull/181

[2015-03-06 18:53] klizhentas commented on #180
Thanks for digging in, really appreciate it!

[2015-03-10 18:44] stith opened #183 "Allow vulcand to set x-forwarded-for"
My request flow right now is vulcand in a docker container, which forwards to a Heroku buildpak, also running in a docker container. It seems that vulcand is setting the x-forwarded-for to "172.17.42.1" for all of my requests, rather than setting it to the actual source IP of the request. Enabling "TrustForwardHeader" won't do the trick here, since it seems like that'd allow users to forge their I

[2015-03-10 18:46] deedubs opened #184 "Can not delete backend"
I have a backend that has no servers and no frontends pointing at it but I am still unable to delete it using `vctl`

**Steps to reproduce**

[code]

[2015-03-11 00:29] agokjr opened #185 "ETCD https setting flags are missing."
It would be nice to have the ETCD cert key and ca flags for when etcd is using https.

[2015-03-12 04:15] porjo commented on #183
What IP address should your HTTP client be coming from? If you're running your web browser on the same host as Docker, then the client IP may legitimately be 172.17.42.1

[2015-03-13 11:54] MichaelStephan opened #186 "QUESTION: Does vulcand support SSL client authentication towards a backend server?"
Hello,

does vulcand support SSL client authentication towards a backend server?

 Thanks for your answer.

Regards,
Michael Stephan

[2015-03-13 16:37] stith commented on #183
All of my tests have been remote, just with a browser on my computer. I'd expect the IP to show up as the remote user's IP address.

[2015-03-14 01:07] porjo commented on #183
Vulcand sets `x-forwarded-for` to be whatever is in `http.Request.RemoteAddr`. Perhaps you could verify by running tcpdump inside your vulcand container to check the source IP of the incoming HTTP request e.g.`tcpdump -i eth0 port 80 -tnn`. If that is set to `172.17.42.1` then the issue is not with vulcand.

[2015-03-14 03:58] stith commented on #183
Hmm, seems like this was more a docker problem than a vulcand problem. I switched to using host networking in the container, otherwise the request gets routed through the docker0 interface which resets the source address. Thanks for pointing me in the right direction!

[2015-03-14 03:58] #183 closed

[2015-03-14 04:20] stith commented on #78
For what it's worth, +1 :+1:

[2015-03-15 04:50] #179 closed

[2015-03-18 00:55] F21 opened #188 "SPDY and HTTP/2"
We are building an application that will allow users to upload their own SSL certificates to serve their pages. We are planning to use vulcand to deal with our external requests as it currently provides the easiest way to manage certificates compared to HAProxy + confd.

It would be awesome if it could support SPDY (for legacy clients) and the newer HTTP/2.

[2015-03-18 23:43] porjo commented on #188
+1

The Go [HTTP/2 Go package](https://github.com/bradfitz/http2) package [apparently supports the final spec now](https://www.reddit.com/r/golang/comments/2ym1h3/http2_server_that_can_run_lua_scripts_as_pages/cpfgk03).

[2015-03-19 01:11] bkeroackdsc opened #189 "question: secret storage"
Hi,

It says in the documentation that vulcand can transparently decrypt data stored in the backend, however it's not clear to me how this can be used to serve arbitrary encrypted data?

eg, if we had a number of encrypted keys in etcd (or served by the backend), how would we indicate to vulcand that they (and only they) require decryption?

[2015-03-19 02:31] porjo commented on #189
Are you referring to [this](http://www.vulcanproxy.com/proxy.html#secret-storage)? AFAIK that is only for specific purposes used by Vulcand, not a general purpose service.

[2015-03-19 02:42] porjo commented on #186
No, I don't believe so. Out of curiosity, why is this required?

[2015-03-19 03:27] porjo commented on #162
How are you launching vulcand? From command line, this shouldn't be an issue as the shell environment will strip any quotes before Vulcand sees them. If launching from Systemd unit file then it would be better not to assume that the executable will deal with them, and instead leave them off to begin with.

My feeling is that if etcd backend is happy to accept a key containing quotes, then vulcand

[2015-03-19 03:53] porjo commented on #165
I've just tested this with one of my frontends, replacing `&&` with `\u0026\u0026` and it worked fine. What problem are you seeing?

[2015-03-19 14:29] jrossi commented on #162
For systemd you can use permissions and evrionmentfile: http://fedoraproject.org/wiki/Packaging%3aSystemd#EnvironmentFiles_and_support_for_.2Fetc.2Fsysconfig_files

[2015-03-19 14:49] zeeraw opened #190 "Automatically resolve backend servers from SRV DNS records"
As someone who would like to use DNS driven service discovery, I think allowing a backends to resolve it's servers through the SRV record would be cool. Thoughts?

[code]

[2015-03-19 19:02] bkeroackdsc commented on #189
@porjo Yes that was my impression as well, that it's only for certificates and keys specifically, but the wording is ambiguous. If it isn't a general purpose facility the docs should be explicit about this.

[2015-03-19 22:02] robszumski commented on #165
I backed off this work so I'll go ahead and close. Thanks for testing it out.

[2015-03-19 22:02] #165 closed

[2015-03-20 00:25] pires commented on #190
+1

[2015-03-20 00:26] pires commented on #188
+1

[2015-03-20 00:26] pires commented on #171
+1

[2015-03-20 00:26] pires commented on #78
+1

[2015-03-20 03:04] Xe commented on #190
+1

[2015-03-23 22:16] grantr commented on #186
This might be what you're looking for: http://docs.vulcand.io/proxy.html#https-backends

[2015-03-24 04:49] bmorton commented on #104
I have a use-case that would also be nice if the backend decision could be made through middleware.  Basically, I want to be able to choose the backend based on the result of looking up the bearer token. This way, I could divert a certain subset of traffic to a canary backend.

Is this possible using middleware or routing today?

[2015-03-24 05:21] bmorton commented on #151
After experimenting with vulcand, CoreOS/Fleet, and Docker for a while, I decided to write some automation around zero-downtime deploys using vulcand to facilitate this.  The result of this is a project that I've been working on called [deployster](https://github.com/bmorton/deployster).

I've been developing it as openly as I can and I'm using it for some side-project stuff.  We're also experimen

[2015-03-24 05:27] bmorton commented on #87
Would global middleware sit before the frontends?  If that were the case, I could add middleware logic to add headers based on some custom criteria that could then be used in the routing step to pick the right backend.  Does that seem like a good idea?

[2015-03-24 05:30] bmorton commented on #151
Oh, and if it wasn't clear, I love the project :)  It really is a joy to use and the amount of effort around documentation and making this easy to use is very appreciated.  Thank you.

(and :+1:  to the prefer-local-routing stuff mentioned above, that'd be cool to see :smile:)

[2015-03-24 11:51] mindnuts commented on #172
Hi there...this would be a great feature and i suppose it would be great if we can achieve this without resorting to custom middlewares. Here is my use case, i am using NGINX as reverse proxy:

[code]

It would be great if we can do something similar using Vulcand :)

[2015-03-24 15:41] zhaoweiguo commented on #87
@bmorton I think the global middleware can not do it now~ unless the route will change~

What it can do is just refuse such task~ or add some thing to the head or just like that~

[2015-03-24 17:28] bmorton commented on #87
@zhaoweiguo does global middleware already exist today?

If the global middleware is processed before the frontend is selected, I could mutate the request in a way that it would cause the routing to change (using a header or something).

[2015-03-24 17:47] rca opened #192 "`X-Forwarded-Proto: https` when Vulcand is handling HTTPS requests"
After adding a certificate to vulcand, I added an HTTPS listener with the following command:

[code]

Is there an option or some other method of endusing `X-Forwarded-Proto` is set to `https` when vulcan is handling HTTPs?  Thanks!

[2015-03-25 02:17] zhaoweiguo commented on #87
@bmorton yes, I just do it like what you see~
I changed the code to do it~ It really a common need~
But i didn't find a good way to do it well(I mean not destroy the Framework of vulcan)~
I just meet demand~

waiting the update of it~

[2015-03-25 17:10] rosskukulinski commented on #78
would probably switch from confd/nginx to this in a heartbeat if it supported websockets

[2015-03-28 19:42] azimut commented on #78
+1

[2015-03-29 02:52] vanthome opened #193 "Port Param has no Effect"
Hi,

I'm running vulcand outside a container and maybe this bug has not been reported yet.
The `-port=` param does not have any effect.
If I start vulcand with it, it will still listen on port 8181 (ipv4) and  8182 (ipv6).

thanks

[2015-03-29 04:38] porjo commented on #193
Works for me!

I've compiled vulcand from latest commit, run like so:
[code]
I can see it is listening on the specified port:
[code]

What version of Vulcand are you using, and what are your exact command line arguments?

[2015-03-29 04:44] porjo commented on #192
Vulcand does this for me automatically, already!?

I've tested by running tcpdump on my backend server listening for incoming HTTP requests. I've then made an SSL request to vulcand, and I can see the following result:
[code]

What headers are you seeing when you test?

[2015-03-29 12:35] vanthome commented on #193
Hi thanks!

I'm using the latest release `v0.8.0-beta.2`.
The commandline is:

`./vulcand -interface=xxx -etcd=http://192.168.10.2:2379 http://192.168.10.1:2379 -port=80 --logSeverity=INFO`

--> works not!

Now I found out, it works when moving the `port=xxx` param more to the bginning:

`./vulcand -interface=xxx -port=80 -etcd=http://192.168.10.2:2379 http://192.168.10.1:2379  --logSeverity=INFO`

[2015-03-29 12:36] vanthome opened #194 "Unclear Command Line Param `-etcd=` for providing List"
` -etcd=[]                       # etcd - list of etcd discovery service API servers`

The aktual syntax to provide a list is uncelar, I tried

- `[xxx yyy]` --> fail
- `xxx,yyy` --> fail
- `xxx yyy` --> unsure!?

Can you please clarify this and also put it in the docs?

[2015-03-29 12:47] porjo commented on #193
Ah, that explains it. The way you are defining `etcd` is messing up the command-line arguments. AFAIK any argument that has multiple values must be either listed multiple times e.g.:
[code]
or once, with multiple values separated by a comma:
[code]

Because you are using a space, the command arguments are getting messed up, causing `-port` not to be read properly.

[2015-03-29 13:07] vanthome commented on #193
Yea, tat's it :) Just verified it. To make things celarer, let's address [this](https://github.com/mailgun/vulcand/issues/194)

[2015-03-29 13:07] #193 closed

[2015-03-29 17:57] grantr opened #195 "Allow multiple backends per frontend"
I have a use case for vulcand as a consistent hashing proxy, where each request needs to be routed among multiple backends on a hashring. The hashring is dynamic and may change. Each backend will itself have multiple servers to balance requests among.

Since a frontend can have only one backend, and the middleware doesn't seem to be able to affect the backend choice, I'm not sure how to do this be

[2015-03-29 22:39] porjo commented on #193
Sorry, you are right - looks like only the first way is valid.

[2015-03-29 22:45] porjo commented on #194
I've checked the source code and the only valid method currently is specifying `-etcd=` multiple times.

[2015-03-30 07:35] vanthome commented on #194
Yea but I think that's not particularly nice as it is unintuitive and does not work well together with automcation engines such as ansible. So I think we should extend this to also offer go for a comma separated list. This seems to be the convention that etcd itself seems to use:
https://github.com/coreos/etcd/tree/master/etcdctl#peers

[2015-03-30 15:44] vanthome opened #196 "High CPU Load compared to Nginx when terminating SSL/TLS"
I made the following test:

ab (apache benchmark) --> vulcand --> node.js app with some small logic.

ab (apache benchmark) --> nginx --> node.js app with some small logic.

Ab command line:
`ab2 -n 5000 -c 40 -v 1 https://example.com/`

The test took ~160 seconds. I monitored the CPU load via `top` and repeated this several times.
The CPU utilization figures (aggregate across 4 cores) look not re

[2015-03-31 00:22] porjo commented on #196
Profiling and benchmarking are on the [roadmap](https://github.com/mailgun/vulcand/blob/master/ROADMAP.md)

[2015-03-31 11:05] robertogyn19 commented on #78
+1

[2015-04-04 19:30] SebastianM opened #197 "Upsert backend with a TTL via HTTP API"
Hi,

this is currently not possible, right?

Greetings
Sebastian

[2015-04-04 22:30] bobbytables opened #198 "CORS Support for HTTP API"
Hi! I've been spending this weekend attempting to make a UI component for Vulcan using it's REST API. The UI component is written on top of Ember and it seems that CORS is giving me an issue. Looking into it, it doesn't seem to possible to pass an option such as `-cors="*"` on startup to enable CORS headers. :cry:

I looked into adding it and PR'ing but it seems like Scroll may not have the best s

[2015-04-07 12:49] dmitryint opened #199 "how check remote_addr in route rule"
Now I use this rule:
[code]
I want to restrict access from external addresses through the remote_addr variable
[code]

and I get this error:
[code]

If I just try ``Header(`remote_addr`,`172.16.0.1`)`` a rule; it simply does not work.

[2015-04-08 16:52] archisgore opened #201 "Allow a user-provided NotFound middleware to be passed into mux"
This has been brought up in various other forms many times. What we need to make vulcan work, is to audit/log/manage anytime vulcan didn't match an incoming route.

For this, I would like the ability to pass in a Middleware that replaces NotFound middleware.

I created a quick form to test out how it would look for me. This isn't the best-written code-reviewable code, but illustrates the concept.

[2015-04-08 20:34] archisgore commented on #201
I created a pull request.
https://github.com/mailgun/vulcand/pull/202

This is reference code, but I'm totally open to suggestions, alternatives, and ideas.

[2015-04-09 10:00] porjo commented on #199
Who is adding the header `remote_addr` to the request - is it the client?

[2015-04-09 10:04] dmitryint commented on #199
It should do the server

[2015-04-09 10:09] porjo commented on #199
`HeaderRegexp` is for matching an incoming request from a client. That header must exist prior to the request reaching Vulcand otherwise it will not match.

[2015-04-09 10:13] dmitryint commented on #199
Then there is some way to route the request using the client ip address?

[2015-04-09 10:28] porjo commented on #199
No I don't think it is possible. I've created a new issue requesting that feature over at mailgun/route [here](https://github.com/mailgun/route/issues/6)

[2015-04-09 11:39] arjanschaaf opened #203 "healthcheck on backend servers?"
Hi,

I'm new to vulcand and am used to Amazon Elastic Load Balancers & HAProxy. With ELB & HAProxy I'm used to configuring a health check on my backend servers. If the health check passes (for example a GET on /healthcheck returns 200 or the body contains ("OK!") the server is active in the backend pool. If not, ELB or HAProxy won't send any traffic to that server until the health check is success

[2015-04-09 13:42] fracklen commented on #203
IMO, this is outside the scope of vulcand. That's a job for the sidekick.

The way we use vulcand, is by having a sidekick per application. This sidekick is application specific, and knows how to do health-checks.

You can get inspiration from our https://github.com/lokalebasen/sidekick, which is also available as the docker image `lokalebasen/sidekick`.

We've implemented it, so the sidekick writ

[2015-04-09 14:33] glkz opened #204 "Reusing middlewares in multiple frontends"
I don't know is there a better way to do this. Copying the same middleware definition to multiple frontends and keeping them up to date may be hard to manage.

Storing middlewares under a key like ```/vulcand/middlewares/<middlewareId>``` and referring them from multiple frontends would be a nice feature.

[2015-04-09 20:46] archisgore commented on #204
I'm upvoting this. Imagine having a hundred thousand routes all sharing middleware with identical initialization parameters. This would be a total performance win in that situation.

[2015-04-09 20:47] archisgore commented on #204
I'll volunteer to write the code for it too.

[2015-04-10 20:35] arjanschaaf commented on #203
Hi,

You're right: doesn't have to be the responsibility of vulcand itself. I like your setup, thanks for sharing.
btw: have you thought about adding webhooks like the circuit breaker functionality offers?

[2015-04-10 20:35] #203 closed

[2015-04-11 06:54] fracklen commented on #203
Haven't had the need for it yet, but good idea. I'm considering adding amqp-hooks. But webhooks is definitely a good idea.

[2015-04-13 18:51] x0e-foobar commented on #9
Consul support for vulcand would be great! :+1:

[2015-04-16 19:45] psi-4ward commented on #185
+1 !

[2015-04-16 23:24] osterman commented on #156
I've been running docker containers mailgun/vulcand:v0.8.0-beta.2 and most recently mailgun/vulcand:v0.8.0-beta.3. Still experiencing really bad memory leaks. After 24 hours, it's back up to about 4.5GiB ram.

    CONTAINER           CPU %               MEM USAGE/LIMIT      MEM %               NET I/O
    central_vulcand     0.70%               4.55 GiB/62.96 GiB   7.23%               1.675 GiB/1.

[2015-04-17 00:37] klizhentas commented on #156
Erik,

I can release a patched version just to get goroutine dumps periodically, would you be able to install it and run for a a couple of hours?

In addition to that, are there any outstanding logs that Vulcand produces?

Thanks,
Sasha

[2015-04-17 00:52] osterman commented on #156
@klizhentas sure! Any chance you could push it as a container to Docker Hub?

I do see some errors like these... no idea if they are related. Fwiw, using Registrator+SkyDNS.

Here's how I announce

    ExecStart=/usr/bin/docker exec central_vulcand /go/bin/vctl --vulcan 'http://localhost:8192' backend upsert -id ib_web

Here's how I set presence

    ExecStart=/usr/bin/docker exec central_vulcand

[2015-04-17 00:54] klizhentas commented on #156
Sure, I will prepare the build on docker hub and will let you know, meanwhile I will reopen the bug

[2015-04-17 11:45] psi-4ward commented on #173
A Port Matcher would resolve this problem

[2015-04-17 17:48] archisgore commented on #188
+1

[2015-04-21 10:48] pierrebeaucamp commented on #185
+1

[2015-04-22 08:48] pierrebeaucamp commented on #32
Has there been any progress regarding this issue? I saw that #191 got merged about a month ago, but the official vulcand image is still huge.

[2015-04-23 13:06] pierrebeaucamp commented on #188
Is anyone working on this? If not, I can probably implement the http2 package from bradfitz. Or do you all want to wait until his package is merged into Go's std library?

Also, I think SPDY is worth its own issue, as it will be only used by legacy browsers which could also fall back on HTTP/1.x. Therefore, I don't believe that it's as important as HTTP/2 at the moment. Also, both protocols will n

[2015-04-23 13:17] pires commented on #188
I believe http2 is the way to go.
On Apr 23, 2015 09:06, "Pierre Beaucamp" <notifications@github.com> wrote:

[2015-04-24 06:22] porjo opened #206 "Panic on shutdown"
I run Vulcand in a docker container, controlled by systemd. I've noticed it panics sometimes when Systemd shuts it down. The following is an example log showing an unclean shutdown:

[code]

[2015-04-25 15:28] anpieber commented on #78
+1

[2015-04-30 04:39] #180 closed

[2015-05-01 16:06] #185 closed

[2015-05-01 16:35] tboerger commented on #78
If somebody can give me a hint where to hook up i can try to jump into this feature :)

[2015-05-04 15:48] BugRoger commented on #192
I actually do have the same problem. This is using an `https` listener but an backend with `http` servers. The frontends just have a `-route 'Host("myhost.com")'`.

[code]

[2015-05-04 22:40] porjo commented on #192
Is it possible you are being double proxied? Try capturing the HTTP header for the request arriving at Vulcand for comparison?

[2015-05-05 06:40] BugRoger commented on #192
I have a dedicated VM for my Vulcans and this is what I captured as outgoing traffic. I'll trace it again today.

[2015-05-05 12:24] BugRoger commented on #192
I just rebuilt the whole scenario just using the simplest docker containers. It does work.

[code]

I'm running Vulcan in front of Kubernetes. I guess, my assumption that the kube-proxy is just load balancing TCP connections is not true.

You can close this issue. It is working as expected.

[2015-05-05 20:50] pshabalin opened #207 "Add "destroy" callback function to middleware lifecycle"
We ran into situation there we need to release resources allocated by middleware handler.
In details we create [sql.DB](http://golang.org/pkg/database/sql/#DB) object in NewHandler. Simplistically DB is a connection pool which must be [closed](http://golang.org/pkg/database/sql/#DB.Close) to release database connections.

Currently there is no any sort of _destroy_ function for middleware so we ar

[2015-05-05 21:19] pshabalin commented on #55
Etcd 2.0 should not respond with empty body
https://github.com/coreos/go-etcd/issues/170#issuecomment-68959994

[2015-05-05 23:27] klizhentas commented on #207
This makes sense,

What if I add the following callback here:

https://github.com/mailgun/vulcand/blob/master/plugin/middleware.go#L20

[code]

It will be called by Vulcand whenever a middleware is deregistered, would that work?

[2015-05-05 23:28] klizhentas commented on #206
Interesting, will try to debug this case

[2015-05-05 23:30] klizhentas commented on #204
I think the design suggestion with middlewares with Id and the use case makes sense to me, @archisgore feel free to send PR my way!

[2015-05-05 23:30] klizhentas commented on #201
this is implemented by @archisgore in #202, thanks for your time!

[2015-05-05 23:30] #201 closed

[2015-05-05 23:56] pshabalin commented on #207
If http.Handler is a reference to the instance created in NewHandler that sounds perfect

[2015-05-07 19:59] lynchc opened #208 "Support SRV records for etcd cluster"
Right with only one etcd instanced defined in vulcand, if that instance goes down, the etcd cluster is fine, yet all my load balancers will not be operational. I have all the instances of my etcd cluster defined within a SRV record. I would really like it if instead of specifying:

-etcd=http://172.17.42.1:4001

if we could instead, -etcd-srv and then pass along a SRV record for the cluster. Not s

[2015-05-07 21:16] tboerger commented on #208
The code can be taken more or less from confd

[2015-05-07 21:19] lynchc commented on #208
This isn't as high a priority for me now as I just had a buddy (rossk from the coreos IRC room) inform me that you can specify a list of etcd servers to vulcand on startup. This isn't as convenient as a SRV record and won't have any weighted capabilities, but will certainly provide me with a working solution for now.

[2015-05-07 23:01] lynchc commented on #194
+1

[2015-05-10 16:10] pierrebeaucamp commented on #82
Hi,

I'm running into the same problem and I'm migrating from a Nginx configuration which uses ``proxy_pass`` as well.

Basically, vulcand doesn't follow redirects (3xx). It just proxies the first response it gets from the backend, therefore the client handles the redirect.

But in the cases of @zhaoweiguo and myself, we don't want the client to see any redirect - we're expecting the proxy to foll

[2015-05-14 23:14] SEJeff opened #209 "Make backend datastore pluggable"
I would love to find a way to see if vulcand could be used for service discovery and load balancing of tasks on an [Apache Mesos](http://mesos.apache.org/) cluster running tasks under [Aurora](http://aurora.apache.org/).

Aurora publishes task information to (boo) zookeeper using a relatively standard thing twitter invented called Server Sets. It would be great if there was a way to get vulcand to

[2015-05-15 06:08] 3onyc commented on #209
Vulcand already has pluggable datastores (called engines), see [engine/engine.go](https://github.com/mailgun/vulcand/blob/master/engine/engine.go) for the interface. There's no engine for ZooKeeper/ServerSet though, so that would need to be implemented.

[2015-05-15 07:56] kennethkalmer commented on #196
Just a note that CloudFlare seems to be working on faster go crypto, maybe https://blog.cloudflare.com/go-crypto-bridging-the-performance-gap/ is useful in this context

[2015-05-17 10:54] jpillora commented on #172
:+1: S3 also has this issue. Using the `s3.amazonaws.com` hostname works, and when using vulcan, I get:

I guess S3 uses the `Host` header to do internal routing, like Heroku

[2015-05-17 13:14] jpillora commented on #78
+1

[2015-05-17 17:45] psi-4ward commented on #78
+1

[2015-05-17 17:51] tboerger commented on #78
@klizhentas can I help with that to get that running asap? I need websockets pretty soon and I don't want to replace vulcand with HAProxy.

[2015-05-17 18:12] klizhentas commented on #78
@tboerger Thomas, sure, feel free to send a P.R. my way. I think all is needed to be done is to introduce a support for connection upgrades in the handler here:

https://github.com/mailgun/vulcand/blob/master/proxy/srv.go

Pass the upgrade header to the backend and start proxying.  I recommend using

golang.org/x/net/websocket

as a web socket library

[2015-05-17 18:59] tboerger commented on #78
@klizhentas no need for the library. Already found a usable example how that can be done here: https://github.com/akrennmair/drunken-hipster/blob/master/main.go

[2015-05-18 23:27] lynchc opened #210 "trouble making https work"
I'm sure there is probably something I'm missing but I'm looking for some guidance here.

I followed the instructions to create my cert. I now have this giant etcd key that looks like this

```/usr/bin/etcdctl set /vulcand/hosts/test/host '{"Settings": {"KeyPair": {{"Encryption":"secretbox.v1","Value":{"Val":"long encrypted string","Nonce":"some other stuff"}}}}}'```

Here are the other steps I ha

[2015-05-21 22:50] lynchc commented on #210
Finally got all of this up and running.

You can't follow the documentation as it's incorrect. the docs says:
[code]

This results in the error I posted above. You need to go inside the vulcand container with
```docker exec -it vulcanname /bin/bash```
and run
```vctl host upsert -name examplehostname.com --cert=./chain.crt --privateKey=./private.key```
This pushes everything to etcd in the correct

[2015-05-21 23:25] lynchc commented on #196
This is grossly understated. My plan was to have vulcand do all my production load balancing for a coreos cluster. After running benchmarks, it was obvious this could not happen:

I ran this in ec2 on an c4.xlarge with enhanced networking. all 4 cores were pinned the entire time.
This was the best I could get WITH SSL to an endpoint that does nothing but return a 200.
[code]

This is the best I co

[2015-05-21 23:58] porjo commented on #196
As @kennethkalmer mentioned, Go has known performance problems with SSL/TLS. Cloudflare have been claiming 20x performance improvements with the changes they've proposed!

It might be interesting to try adjusting [`GOMAXPROCS` environment variable](https://golang.org/doc/faq#Why_no_multi_CPU) to see if that helps at all.

[2015-06-02 02:03] serussell opened #211 "Should remove dependency on mailgun/log"
vbundle builds code that depends on mailgun/log, but mailgun/log can't seem to maintain a stable API; hence, the vulcand middleware tools are broken.  In particular, vctl main.go uses log.LogConfig, which has been removed from mailgun/log, so vctl can't be compiled.

Maybe switch to a more stable logging API?  In any case, mailgun/log's instability means vulcand is currently broken.

[2015-06-02 18:48] #209 closed

[2015-06-02 20:04] madeddie commented on #172
The change has been merged to oxy, shouldn't this fix the issue in vulcan too? Even when I freshly build everything from source, it still doesn't work right.

[2015-06-02 20:22] tboerger commented on #172
@madeddie have you updated the deps before building? https://github.com/mailgun/vulcand/tree/master/Godeps/_workspace/src/github.com/mailgun/oxy

[2015-06-03 04:45] philk commented on #120
I feel like I must be missing something. I tried both

Documentation:
[code]

From @porjo above:
[code]

I get a redirect loop either way. If I just curl the https site directly I get the same 302 and Location as if I curl the http site. Any ideas what I might be missing? Using the mailgun/vulcand:v0.8.0-beta.3 docker container, though I tried it from a container built off master and everything wa

[2015-06-03 16:43] madeddie commented on #172
@tboerger well... apparently not :) I misunderstood how godep works, manually updating the files and rebuilding worked, will have to figure out how to do it in the "right" way :)

[2015-06-03 19:03] bkeroackdsc opened #212 "Multiple matching routes"
After reading the documentation, I'm not clear on what would happen if an incoming request matches the routes associated with multiple frontends. Is it possible to set up some priority scheme among frontends?

The use case I'm thinking of is having one frontend with a set of path regexps and then having a second "fallback" frontend that matches everything else.

It's not clear from the docs how th

[2015-06-03 20:29] philk opened #213 "vulcan ignoring new nodes"
I'm having some trouble with random instances of vulcan deciding to ignore new servers. Most of the instances see the new server and start serving traffic to it but some instances display a message like the this:

[code]

That vulcan instance will now never serve traffic to that server (unless you restart vulcan). If I use `etcdctl` from that same machine the key returns the expected value though.

[2015-06-03 20:38] archisgore commented on #212
Yes, we had the same problem, and I made a small commit recently that allows you to set up a custom NotFound middleware upon startup.

My use-case was similar to yours, and I spent a lot of time thinking about specificity and priority. The problem for me was priorities change, are difficult to infer and difficult to manage. Specificity is worse still - looking at two regex's, it is very difficult,

[2015-06-05 21:23] philk commented on #213
So presumably `vctl top` displays what vulcan knows and `vctl server ls` displays what's actually in etcd.

[code]

[2015-06-08 17:12] cicerocomp commented on #78
+1

[2015-06-08 17:24] rafaelsq commented on #78
+1

[2015-06-08 21:06] psi-4ward commented on #156
Whats your etcd version?

[2015-06-09 14:51] mo-gr opened #215 "support chunked encoding/streaming"
Unless I get something very wrong, vulcans (or oxy?) currently doesn't support streaming proxied responses. Oxy even seems to explicitly buffer chunked responses and flush them in one go to the original client.

What is the rationale behind that? Is there a specific reason, why you chose not to support chunked responses?

What would be the best way to support chunking in vulcand? It seems, like a

[2015-06-09 15:28] osterman commented on #156
I'm running CoreOS 647.0.0 which is pinned at etcd 0.4.9. Unfortunately, I had to cut-bait on vulcand a few weeks ago as I didn't see any updates. I'm now running Nginx+confd, so I won't be able to help diagnose these memory leak issues any longer.

[2015-06-10 17:46] philk commented on #213
I just found a much worse variation of this:

[code]

[2015-06-10 17:50] philk commented on #213
@klizhentas this seems like a pretty major bug in the way vulcan handles state, any ideas?

[2015-06-10 20:36] klizhentas commented on #213
@philk do you have any logs? you can turn info logging with `tctl` and send it to me, I will take a look

http://vulcanproxy.com/proxy.html#log-control

[2015-06-10 21:09] philk commented on #213
@klizhentas Here are some logs from a system that had the issue during a deploy. Our deploy process currently is through fleet by bringing up 4 new instances, waiting, then terminating the old instances. Registration is handled by the dumbest / easiest thing that I could think of which is:

[code]

Each of our instances has a vulcan container running. Out of 4 instances, 2 failed with logs like th

[2015-06-15 04:15] montanaflynn commented on #204
+1

[2015-06-15 21:28] bkeroackdsc commented on #212
@archisgore Thank you for that info. Looking at the [source](https://github.com/mailgun/route) a bit, it's apparent that it simply executes the first matching route (stored in order of insertion). So we can prioritize (in a hackish way) by controlling the order of rule insertion.

It would be nice if this were documented somewhere ("Order of frontend insertion is significant"). It also would be gr

[2015-06-15 21:45] bkeroackdsc commented on #204
+1

[2015-06-17 16:45] ruprict commented on #198
@bobbytables Could this be done with custom middleware?

[2015-06-18 20:18] ruprict commented on #198
Something like, erm, [this](https://github.com/Skookum/vulcan-cors)

(see the README for caveats, but I think it's a decent start)

[2015-06-20 17:28] tboerger opened #216 "Debug and resolve memory leak"
How can we debug and resolve some memory leak within vulcand? Even a vulcand instance without any traffic consumes multiple GB of memory after just a few days runtime.

[2015-06-20 17:30] tboerger commented on #216
@psi-4ward do you have further informations?

[2015-06-21 22:20] klizhentas commented on #213
I think they key to the problem may lay in:

[code]

I would go and check if that causes it to skip the insert procedure. (It complains that backend `baldr` is not defined, so it does not insert servers for it

[2015-06-21 22:22] klizhentas commented on #216
@tboerger I was sucessfull before doing a dump of all goroutines periodically:

http://stackoverflow.com/questions/19094099/how-to-dump-goroutine-stacktraces

and looking at the memory profile to see what exactly is being leaked:

http://blog.golang.org/profiling-go-programs

[2015-06-22 06:45] fracklen commented on #216
@klizhentas would it be an idea to add an endpoint to the admin api, where you could query the stacktrace for all goroutines?
Since it's writing to a `Writer`, it would be quite trivial to return the dump over HTTP.

I'm guessing it would lower the barrier for identifying the culprit in a running production system, without the need for implementing periodic stack-dump, recompiling, deploying and w

[2015-06-22 16:03] klizhentas commented on #216
That's a good idea! :+1:

[2015-06-23 05:04] sinzone commented on #198
You can use Kong (https://github.com/Mashape/kong) + CORS plugin (http://getkong.org/plugins/cors/) as workaround:

[2015-06-23 08:24] dverbeek84 commented on #18
Do you already have a plan to implement this feature. Or can i easily add it with custom middleware?

[2015-06-23 23:31] archisgore commented on #212
Yes, that's fair. Rather than add it to the routing language, I would prefer it if it were part of the frontend's structure that assigned each frontend a priority with an explicit contract that, two frontends with the same priority can be in arbitrary order.

Put concisely,

Each fronted struct will have:

type engine.Frontend struct {
//some stuff
priority int
}

And on any frontend modification

[2015-06-23 23:38] archisgore opened #218 "Allow pluggable Routing Library"
This is merely an idea.

While working with vulcan, I frequently find myself running routes that can be compactly or better expressed if I had a different language. Don't get me wrong, 99% of the times, I will use mailgun/route. But there are times when I wish I could just launch vulcand with a different routing provider and have a simpler/more efficient language, or maybe even hardcoded go-code f

[2015-06-23 23:42] archisgore commented on #204
Sorry for the delay. I'm close to having this done. Sometimes, doing things on the side as a hobby means that I don't always get to contribute on the project's schedule. :-( My apologies.

Expect a PR by Friday 6/26

[2015-06-23 23:50] archisgore commented on #204
Before I go too far, here's how I'm treating the middleware spec, so as not to break backwards-compatibility.

1. PUT /middlewares/m1
2. PUT /frontends/f1/middlewares/m1 (empty value)

This adds m1, to frontend f1

HOWEVER

2. PUT /frontends/f1/middlewares/m2 {json blob}

will treat JSON Blob like any current middleware is treated today.

This way, if you only create a key with the id, you'll get

[2015-06-23 23:52] archisgore commented on #87
I'm working on this exact same problem right now. I'm first finishing up work on this:
https://github.com/mailgun/vulcand/issues/204

Can we begin discussing how one would specify a global middleware? If we can agree on a format to specify it, it shouldn't be difficult to simply reuse the middleware on each frontend creation.

[2015-06-24 01:11] bkeroackdsc commented on #204
@archisgore I think the proper fix (although not backwards-compatible) would be to change middlewares to be a JSON array on the frontend object:

``PUT /frontends/f1/middlewares [ "m1", "m2" ]``

This way it can be updated atomically and we aren't confusingly treating empty value and json blob with same middleware name differently.

The frontend middlewares endpoint would validate that the referen

[2015-06-24 05:16] archisgore commented on #204
Right. So the more I see how vulcan works on the inside, it doesn't seem reasonable to delete middlewares at all. Any frontends that have middleware m1, will continue to retain it. This is because inside vulcan, middlewares are not shared through pointers, and even if they were, modifying a struct in use is just bad design.

So here's what I ended up with:
1. PUT /middlewares/m1
2. PUT /frontends/

[2015-06-24 06:00] klizhentas commented on #204
I think it is possible to implement @bkeroackdsc 's suggestion without breaking backwards-compatibility.  We can add additional path:

[code]

that will be treated exactly as a reference.

All global middlewares pointers should be stored in one slice and the frontend should have pointers to them, so they would be truly shared.

In case if middleware was deleted, the initialization of the fronted c

[2015-06-24 06:35] archisgore commented on #204
Yes I agree. That's precisely what I'm doing. To summarize:
1. Make a new middleware-refs endpoint to maintain backward compatibility.
2. Middleware-frontends are loosely coupled, and inconsistent update behavior is *undefined*
(By undefined I mean the engine has no contract to behave in a particular way. In actual implementation, I'll do my best to do the right thing.)

The specific contract is:

[2015-06-24 06:48] klizhentas commented on #204
looks good to me

[2015-06-24 07:05] tboerger commented on #204
I dislike the JSON array variant. With vctl it's quite easy to manipulate that, but if you manage vulcand with etcdctl array manipulation sucks pretty hard. I would prefer an entry for each middleware reference, maybe with a boolean value to enable or disable the reference or something like that.

[2015-06-24 16:25] bkeroackdsc commented on #204
@tboerger Shouldn't we be optimizing for using the vulcand [configuration API](http://vulcand.io/api.html)? I don't see any reason to compromise the semantics to make it easier to manually hack items into etcd.

[2015-06-24 16:59] tboerger commented on #204
Manually hack? Why do you think the API documentation shows all variants (including etcdctl calls)?

[2015-06-24 17:32] klizhentas commented on #204
@tboerger @bkeroackdsc

That's a fair point.

The disadvantage is that you have to read the items before any modification, the advantage is that the operation will be atomic, because it will be the just one set vs multiple operations.

@archisgore let's actually follow @bkeroackdsc's suggestion and implement it not as JSON blob, but as a  list of sub-keys. I would ignore the value at all, because

[2015-06-24 17:46] tboerger commented on #204
Sounds good, and this results in a single etcd client operation as well :)

[2015-06-24 18:49] glkz commented on #204
@tboerger @klizhentas
A list of sub-keys are unordered. So, we need a way to determine the middleware execution order, don't we?

[2015-06-24 19:18] tboerger commented on #204
Hum, but currently we have no real ordering as well?

[2015-06-24 19:20] klizhentas commented on #204
middleware order is defined by priority:

https://github.com/mailgun/vulcand/blob/master/engine/model.go#L362

so if we keep the same semantics with global middlewares, this will do the trick.

[2015-06-25 07:55] glkz commented on #204
@klizhentas
Current design presumes that a particular middleware "instance" is related with only a single frontend. In this case, a single priority attribute is enough.

New design differs in this aspect.

IMHO, execution order should be defined in the context(frontend) not in the middleware itself since there may be multiple frontends that require different execution order.

[2015-06-25 11:46] eightyeight commented on #156
I just found I'm running into this as well, using `v0.8.0-beta.3`. I really like vulcand, and don't want to switch to confd. I'm running coreos 681.2.0, etcd version 0.4.9. Interestingly, my logs show that fleetd was having trouble connecting to etcd immediately before vulcand is killed. Could that be a symptom of the high RAM usage, or a cause of something happening wrong in vulcan?

    Jun 24 1

[2015-06-25 12:53] tboerger commented on #156
Since I'm using etcd 2.1 on my CoreOS install I have no memory leak within vulcand anymore.

[2015-06-26 02:35] eightyeight commented on #156
Hmm, might see if upgrading that helps.

[2015-06-26 18:44] serussell commented on #210
How do I +1 your fix post?

You rock, lynchc.

[2015-06-30 00:36] philk commented on #213
We've just now seen the reverse behavior, nodes that have been deleted from etcd are still showing up in `vctl top` and having traffic sent to them, which of course fails. There has to be some weird race condition we're triggering but I'll be damned if I can find it.

[2015-06-30 03:03] klizhentas commented on #213
I've just merged a fix for bug that featured solar behavior, check out last commits/pr messages

Sent from my iPhone

[2015-06-30 20:14] Cad commented on #9
+1 consul

[2015-06-30 20:44] thedrow commented on #9
https://github.com/docker/libkv looks promising and might help us provide Consul and Zookeeper support.
We just need volunteers for this.

[2015-06-30 20:55] tboerger commented on #9
I understand that some people want to have support for consul or zookeeper. But where should it help to integrate skydns into vulcand? For me vulcand and skydns are totally different things.

[2015-06-30 21:23] benley commented on #9
I don't see why there needs to be anything specific to SkyDNS, but a generic DNS-based discovery mechanism could be useful. The implementation could query DNS for SRV records; people might find it useful with SkyDNS, Mesos-DNS, and probably a variety of in-house setups.

Prometheus has just such a thing already written in Go for reference: https://github.com/prometheus/prometheus/blob/master/retri

[2015-07-01 10:20] fracklen opened #221 "X-Forwarded-Host gets mangled"
I have a setup, where I need a proxy in front of Vulcand. This proxy handles forward-headers, and rewrites the Host header before vulcand sees the request.

I would expect vulcand to leave the `X-Forwarded-*`-headers alone, if the `TrustForwardedHeader` option is enabled

I've made a pull-request in oxy https://github.com/mailgun/oxy/pull/19

[2015-07-01 20:27] klizhentas commented on #221
merged. need to re-vendor it into vulcand though

[2015-07-01 23:04] packetcollision commented on #190
+1

[2015-07-02 15:36] krak3n commented on #172
I believe this issue is relating to adding custom headers into the proxy config rather than forwarding. For example it would be really awesome if this was possible:

`/vulcand/backends/foo/backend`
[code]

[2015-07-06 18:24] philk commented on #213
We haven't been able to reproduce this on the latest master so I'll close this. Thanks for the fix.

[2015-07-06 18:24] #213 closed

[2015-07-07 21:22] archisgore commented on #212
I'm making this request in route: https://github.com/mailgun/route/pull/10

This is to allow us to rapidly run some trial-errors by plugging in variants of the routing library and test cases. Thanks to how go works, we can't easily fork vulcan/route/etc. and run it properly without replacing all import paths in thousands of files. By making it an interface, it'll allow me to work on various featur

[2015-07-07 22:01] Cad opened #223 "improve documentation"
We need to improve docs. We need more howtos and examples. And we need to cover a few use cases. Right now people can only get some insight by reading source code.

[2015-07-07 23:21] tboerger commented on #223
A first step should already be the help output of ALL available subcommands of vctl :)

[2015-07-07 23:47] klizhentas commented on #223
:+1:

[2015-07-10 21:16] philk commented on #211
+1

We're currently just doing a stupid sed replacement on the generated `main.go` for `vctl` to replace the import with the `Godep/_workspace` import.

Would replacing [templates.go#L57](https://github.com/mailgun/vulcand/blob/master/vbundle/templates.go#L57) with `github.com/mailgun/vulcand/Godeps/_workspace/src/github.com/mailgun/log` be an acceptable fix @klizhentas ?

[2015-07-10 22:50] klizhentas commented on #211
@philk this will work

[2015-07-17 08:03] duffqiu commented on #171
+1, otherwise maybe we have to use haproxy

[2015-07-17 12:34] pires commented on #171
The issue here is that it seems `vulcand` would need some redesign and major refactor to accommodate other flavors of `oxy` (the HTTP proxy by mailgun people, used in `vulcand`), such as something like `oxy-tcp` or whatever you want to call it.

[2015-07-21 18:13] iamruinous opened #225 "vctl is mangling && in routes"
[code]

[code]

[2015-07-21 19:04] benoist commented on #9
+1 for consul

[2015-07-21 19:28] tboerger commented on #225
That's not vctl, that's a bash thing. So IMHO invalid issue.

[2015-07-22 19:41] royvandewater commented on #225
It looks like the && are inside quotes, so bash should just pass them in as ampersand literals to vctl.

@tboerger How would you propose setting a --route through bash that contains two conditions and'ed together?

[2015-07-22 19:55] tboerger commented on #225
I never used variables in that context, so I'm able to use single quotes, that always works. And btw the documention mentions single quotes only as well like https://vulcand.io/proxy.html#frontends for the ```-route```parameter at the first example.

[2015-07-22 20:23] royvandewater commented on #225
I just tried this:

curl -X POST -H "Content-Type: application/json" http://172.17.8.101:8182/v2/frontends      -d '{"Frontend": {"Id":"f1", "Type": "http", "BackendId": "some-backend", "Route": "Path(\"/\") && Host(\"my-host.com\")"}}'

and got this as the response from curl, corroborated by etcd:

{"Id":"f1","Route":"Path(\"/\") \u0026\u0026 Host(\"my-host.com\")","Type":"http","BackendId":"some

[2015-07-22 21:01] tboerger commented on #225
Yeah, wrong escaping ;)

[2015-07-22 22:06] royvandewater commented on #225
Do you mean that bash is escaping the ampersands incorrectly?

I tried to take bash out of the equation by using Postman, but I get the same results
<img width="936" alt="screenshot 2015-07-22 15 04 51" src="https://cloud.githubusercontent.com/assets/72016/8838665/2a079fd0-3083-11e5-8895-4bdb0440fd70.png">

[2015-07-23 00:06] royvandewater commented on #225
I created some backends and tried it. Even though the ampersands are all escaped, it still enforces the route exactly as it should. Its only a cosmetic problem, but it certainly sent us on a wild goose chase :-)

Go defines this behavior explicitly here: http://golang.org/pkg/encoding/json/#Marshal

I guess it'd be nice to see non-escaped ampersands, but no biggy

[2015-08-05 17:31] cusspvz commented on #171
+1

[2015-08-06 18:16] pquerna commented on #211
@klizhentas the `mailgun/log` API.... if thats the new API, should we just update vulcand? or do you want to switch to a different logging package?  The status quo is moderately annoying for us bundling vulcan services downstream.

[2015-08-06 18:46] klizhentas commented on #211
@pquerna @r0mant @jeremyschlatter I think we should revert the breaking change in the logging package in the first place. It's actually missing `Writer` method and `FanOut` logger that vulcand needs.

@r0mant can you please recover the deleted interfaces to make sure that after godep update vulcand works?

[2015-08-06 18:57] r0mant commented on #211
@klizhentas @pquerna @jeremyschlatter

We can't revert it because it introduces the new functionality (like, udplog support) that is used in production. Writer method is still there by the way. Basically, the external changes are trivial:

* LogConfig was renamed to Config.
* Init method signature changed.
* Fatalf method is gone.

Everything else is pretty much the same.

Also, I don't quite get

[2015-08-06 19:00] r0mant commented on #211
Ah, I see that code generator uses just "github.com/mailgun/log". Looks like @pquerna has already submitted a pr to add stuff that prevents from upgrading vulcand to it.

[2015-08-06 19:01] pquerna commented on #211
I'll submit a PR to update vulcand.  working on it.

@r0mant the problem is when you use vulcanbundle (or any other method of embedding vulcand), and you'll end up with a newer version of mailgun/log.

[2015-08-06 19:17] pquerna commented on #211
fixed with #226

[2015-08-08 00:04] pquerna opened #228 "Seal key cannot be rotated"
Currently the Seal Key is global for an entire vulcan cluster, and for all hosts.

Ideally the Seal key could be:

* Rotated
* Per-Host/private Key

To enable this, a scheme where a "Key ID" is encoded along with the secretbox data, and then the secretbox is decoded with the specified key would be helpful.

The 'easiest' way to fix this without breaking much, would be to accept multiple sealKey ar

[2015-08-08 00:18] klizhentas commented on #228
sounds good to me

[2015-08-10 08:49] pedro-teixeira opened #230 "Error forwarding - err: EOF"
I'm having a very inconsistent response from Vulcand specially for `OPTIONS` method with empty response:

[code]

Is that something related with my app or a Vulcand issue?

[2015-08-10 12:48] dcarley commented on #75
Another use case for this is preventing the sensitive value of `-sealKey` from appearing in the process list for non-root users.

[2015-08-10 14:02] tboerger commented on #225
Ok, i found some kind of issue. If i try to execute that with docker exec directly i loose everything starting at ```&&```, if i get into the container with ```docker exec -ti vulcand bash``` and execute something with ```&&``` it simply works. So there seems to be something getting lost within ```docker exec```.

[2015-08-10 16:49] pedro-teixeira commented on #230
After some investigation it looks like the problem is related to empty body responses, like with `OPTIONS` request. Apparently the http lib from Go 1.4 has problems with it.

I've tested with Go 1.5rc1 (https://github.com/eatfirst/vulcand/tree/upgrade-go-1.5) and the problem is not happening anymore.

Maybe it's time to push this upgrade.

[2015-08-11 16:55] timchen commented on #215
+1

[2015-08-11 18:04] timchen commented on #78
+1

[2015-08-11 18:18] rander-oliveira commented on #78
+1

[2015-08-12 10:45] keymon commented on #196
@lynchc You should test using `-k` (use keepalive). With keepalive to do only the SSL handshake once per connection, and you will notice worse part is the handshaking. Go is quite slow doing it.

We are testing vulcand vs. hipache+nginx for routing for [tsuru PaaS](http://tsuru.io) with SSL termination. A very basic [result set is here](https://github.com/keymon/vulcand-vs-hipache-perf-test-result

[2015-08-12 13:07] vanthome commented on #196
Thanks for the thorough analysis! Let's hope it will get merged soon.

[2015-08-13 21:41] devurandom opened #231 "etcd authentication support"
It would be good if vulcand could support [etcd-2.1](https://coreos.com/blog/introducing-etcd-2.1/) [authentication](https://github.com/coreos/etcd/blob/master/Documentation/authentication.md).

[2015-08-15 19:28] sandstrom commented on #9
@klizhentas I'm super-eager to use vulcand, but we're on Consul. Any chance that [libkv](https://github.com/docker/libkv) (or something else) could make vulcan work with consul?

[2015-08-15 19:33] klizhentas commented on #9
libkv looks super-promising indeed, I would totally accept the PR migrating the backends to libkv

[2015-08-15 20:05] sandstrom commented on #9
Good to hear! Unfortunately I've never written a single line of Go (and very long work weeks eat all my time). But I'll pray that some one else might. :pray:

[2015-08-15 21:08] wienczny commented on #9
[libkv](https://github.com/docker/libkv) just supports [consul](https://github.com/hashicorp/consul)'s /kv namespace. So you can't access /catalog. Using /catalog/services you can get access to the nodes currently providing a given service. This what I would expect vulcand to use :wink:
I do like [consul](https://github.com/hashicorp/consul) but without access to these, [consul](https://github.com

[2015-08-15 22:37] klizhentas commented on #9
tbh I'm not familiar with consul, I just know that it would be possible to release a consul-compatible backend, may be via adding more logic to libkv or writing a new native client to it.

[2015-08-16 05:24] miracle2k commented on #9
I'm running consul-template in a separate docker container to have it copy the catalog data to vulcand/etcd. Maybe it's useful for some:

https://github.com/miracle2k/consul2vulcan

[2015-08-17 17:57] armon commented on #9
Just wanted to mention that the Go API client for Consul is complete, and should support everything needed. (http://godoc.org/github.com/hashicorp/consul/api). At any rate, the Consul features are a superset of etcd so it should be possible to have at least equal compatibility.

[2015-08-17 18:04] tboerger commented on #9
@armon we know the client, there was just a discussion about a generic client that covers directly etcd and consul, instead of adding different implementations...

[2015-08-17 20:28] wienczny commented on #9
How about extending libkv to emulate namespaces in each call? This could be done by adding a mapping function to the store configuration. In etcd this could be KV -> /, CATALOG -> /catalog or any user defined function. This way you could access values from etcd like they were stored in consul.

This would result in something like:

    kv.putNS(libkv.CATALOG, "somekey", "somevalue")
    kv.getNS(l

[2015-08-19 00:53] armon commented on #9
Certainly possible. I don't know the code base to recommend the cleanest approach. You could wrap the consul client to do this KV simulation fairly easily however.

[2015-08-19 21:41] pquerna opened #234 "No support for custom trusted CAs in backends over HTTPS"
Currently you can set InsecureSkipVerify for a backend, but there is no way to have a list of trusted CAs. (eg,
[code]

[2015-08-21 22:54] JonGretar commented on #215
:+1:

[2015-08-21 23:39] klizhentas commented on #215
I originally impelemented it this way because it reduces load and risk for backend services - with vulcand they are guaranteed to get the same request with well defined length and makes it more predictable as backend services will be talking on local network, not through the internet.

However I understand that some use-cases may need the opposite behaviour, so PR's are welcome :) This should be a

[2015-08-27 00:40] archisgore commented on #172
I revendored the oxy library to utilize PassHostHeader functionality in vulcand.
https://github.com/mailgun/vulcand/pull/235

[2015-09-01 01:16] macropin commented on #78
:thumbsup: This is a requirement to support modern web applications.

[2015-09-02 11:33] mindnuts commented on #210
:+1:

this post saved lot of hours for me. Why is this not documented?

[2015-09-03 08:40] Rio commented on #171
+1
have to use haproxy now, would love an etcd centered solution just like skydns.

[2015-09-04 17:53] archisgore opened #238 "Periodically call SyncCluster in etcdng.go?"
I wanted to talk this out and get thoughts/reactions from the community.

Etcd clusters change over time. When we start vulcand, we start it with a specific etcd endpoint(s). However, in a long enough running cluster, the machine vulcan's go-etcd client has bound to, may be taken offline for maintenance, even if the cluster is still running.

However, go-etcd client has a method called SyncCluster

[2015-09-04 18:18] archisgore commented on #238
This is what I think it'd look like:
https://github.com/mailgun/vulcand/pull/239

By keeping default behavior, it could be a non-breaking backward-compatible change.

[2015-09-04 18:19] archisgore commented on #221
To original poster - I re-vendored the oxy library last week. Can you confirm you got what you need and close this issue?

[2015-09-05 07:03] tboerger opened #240 "Secure the API"
I would like to have a secured API, like it's doable with etcd to allow communication only through SSL certificates. Currently I'm only able to communicate with the API locally as it's totally open.

[2015-09-07 13:53] jasonrichardsmith opened #241 "Will not close on Ctrl^c if etcd is not running"
Th process has to be killed if etcd is not running.  It will shutdown once it can reconnect to etcd.

[2015-09-07 21:59] cusspvz commented on #9
+1 for consul

[2015-09-08 19:59] brodock commented on #188
:+1: please enable it

[2015-09-09 07:21] tboerger commented on #188
Feel free to open an pull request :)

[2015-09-11 23:26] archisgore commented on #238
Created a new PR which contains the UT fix.
https://github.com/mailgun/vulcand/pull/242

[2015-09-12 05:18] lucmichalski opened #243 "Distributed Search [Recursively Building Service Trees]"
Hi guys,

I was looking at your great proxy, and was wondering if building recursive trees for a distributed search where possible like for explained in this article: https://daniel-j-h.github.io/post/distributed-search-nanomsg-bond/.

Repo: https://github.com/daniel-j-h/DistributedSearch

Cheers,
Luc

[2015-09-12 11:24] suquant commented on #78
+1

[2015-09-16 03:27] archisgore opened #244 "Disable the default listener"
I was wondering if there's a way to disable the default listener. Here's the explicit use case I'm interested in.

For compliance reasons, some systems in our application must ALWAYS be on SSL. Now we take all precautions to make sure SSL is used by clients, however, it would be very cool, if we were able to use vulcan to ensure that the only listener that is active is the SSL-based listener, and

[2015-09-16 03:59] klizhentas commented on #244
yep, we can make it a startup flag --no-default-listener. In this case vulcand would not set up a default listener here:

https://github.com/mailgun/vulcand/blob/master/service/service.go#L307

[2015-09-16 04:00] archisgore commented on #244
Awesome. Thanks for pointing it out. Would have taken me a couple of days to nail that.

[2015-09-16 04:45] archisgore commented on #244
Created a PR. That was simpler than I thought.
https://github.com/mailgun/vulcand/pull/245

[2015-09-16 05:00] klizhentas commented on #244
have you tried it?

[2015-09-16 05:22] archisgore commented on #244
Yup. I just ran it - works perfectly.

[2015-09-17 14:39] lucmichalski commented on #151
@klizhentas I think is absolutely cool, I will give a shot today, as I need to show to some people the potential, but only if somebody can help me to figure out something. :-)

I just have a huge confusion about what would be the best ui to manage frontends, backends and middlewares with clarity for a quite important number of frontends, backends.

I would have a couple of templates but would need

[2015-09-18 22:27] Zenithar commented on #78
+2

[2015-09-21 20:18] pierrebeaucamp commented on #188
Sorry for keeping you all waiting. Unfortunately, I haven't come up with an implementation yet. This is what I've found so far:

- As of https://github.com/bradfitz/http2/issues/59, the HTTP2 library will only work with TLS enabled.
- [Manners](https://github.com/mailgun/manners/) works fine with `http2.ConfigureServer(gracefulsrv.Server, nil)` and `ListenAndServeTLS()`.
- Simply putting `http2.Co

[2015-09-21 21:12] pires commented on #188
`vulcand` is tightly coupled with `oxy`, mailgun HTTP proxy implementation. I've made a redesign to allow for easily adding TCP and http2 proxying as well but the API doesn't feel quite there for me to provide a PR. Such as you @pierrebeaucamp, I'm no longer working on it actively.

[2015-09-22 02:40] sheenobu commented on #78
Somewhat working patch that needs TLC. Notes are up top:

https://gist.github.com/sheenobu/5aad1b1c07e9ff52eefe

[2015-09-24 09:03] derDieDasJojo opened #246 "trie-based routes with"
The route: ```Path("/hello/<value>") ```
matches /hello/test as well as /hello/sample
but if i want a path that also matches:
/hello/test, and /hello/test/app and /hello/test/app/asset
i have to create 3 route entries or an Regular Expression PathRegexp("/hello/.*") which is not very performant.

I suggest adding the * to the trie-based routing, so something like: ```Path("/hello/* ") ``` is worki

[2015-09-24 17:45] #244 closed

[2015-09-24 17:54] #238 closed

[2015-09-24 23:49] archisgore commented on #218
I submitted a PR for what a pluggable router would look like - and the changes are simple. It DOES give us the power to do some cool things rapidly (and the cost of efficiency.)

For example see this:
https://github.com/polyverse-security/js-route

I whacked this up in an hour to prove the point. This router allows rich rule matching for those who need it - while a more efficient matcher is being

[2015-09-25 10:01] F21 commented on #188
The http2 library has landed in go's experimental repo: https://godoc.org/golang.org/x/net/http2

[2015-09-28 15:10] mindnuts opened #248 "Build the minimal image"
I think it would be good if you can document the steps to build a minimal image for use with Docker. The image on Docker hub seems to be ~550MB.

S

[2015-09-29 06:55] tboerger commented on #248
What about webhippie/vulcand? :)

[2015-09-29 10:57] mindnuts commented on #248
@tboerger  No offence but Trusted build from mailgun would be preferred by more people. Also if you can build a static binary you can use tricks from the link below to reduce your image size further.

https://github.com/jamiemccrindle/dockerception

[2015-09-29 14:21] maklemenz commented on #78
+1

[2015-09-29 14:21] pigri commented on #78
+1

[2015-09-30 13:13] tboerger commented on #248
Whatever you prefer, 102MB container size including tools like logstash-forwarder is already not bad. My 35.600 downloads are trusted enough from my side :D

[2015-10-02 20:09] sjourdan opened #249 "vulcanproxy.com SSL certificate expired Sept. 12 2015"
The SSL certificate for the main site https://www.vulcanproxy.com/ is expired since Sept. 12, 2015

Expected: a valid SSL certificate

[2015-10-08 00:59] tylrtrmbl opened #250 "Add Support for TLS Client Authentication"
Since vulcand is expected to act as the TLS termination point, I'd love for vulcand to add support for TLS client authentication. See Go's [tls.ClientAuthType](https://golang.org/pkg/crypto/tls/#ClientAuthType).

I am hours-new to vulcand at this point, so I'll refrain from using any confusing or incorrect terminology to try and explain the point further, but I'll educate myself and add more detai

[2015-10-08 01:37] tylrtrmbl commented on #250
I now understand that the best approach is to make use of Vulcan [middlewares](https://vulcanproxy.com/middlewares.html) support.

[2015-10-08 01:37] #250 closed

[2015-10-10 13:07] sielaq commented on #9
+1
but I think vulcand is little bit behind comparing to traefik,
traefik supports much more backends (including consul).
http://traefik.github.io

[2015-10-12 18:31] gamorejon commented on #78
I fixed up some of the stuff in sheenobu's patch: added support of ws:// addresses and a "ws" frontend/backend types), use a simpler copy method, and put it in a websocket branch of a forked repo here: https://github.com/gamorejon/vulcand/tree/websocket.

[2015-10-12 19:34] archisgore commented on #78
Can you make a PR and track this as a change. I'd love to understand the diff against master.

[2015-10-12 22:11] sheenobu commented on #78
@gamorejon Thanks!

[2015-10-13 21:17] gamorejon commented on #78
@archisgore Will do. FYI, we are going to be using this for a (small) production service which is dynamically routing/loadbalancing a bunch of reverse-ssh over websocket connections. So, if you guys decide the direction you want to go, I'll have some allocated work cycles for this.

[2015-10-13 23:01] SamuelMarks commented on #9
Wow, Traefik looks awesome

[2015-10-14 10:56] cusspvz commented on #9
Didn't knew about Traefik either!

[2015-10-14 14:49] mindnuts opened #252 "Question: how to setup multiple SSL hosts with one vulcand instance"
Hi, i would like to use vulcand to serve SSL traffic for two separate hosts.

Assuming that Vulcand is listening on 80 and 443 port i configure two certificates like so:

[code]

I have already setup two listeners like so:

[code]

Vulcand is started with the seal key i used to seal the two keypairs. The issue i am facing is that vulcand serves the same certificate for both the hosts. Am i doing a

[2015-10-14 16:25] klizhentas commented on #252
Vulcand uses SNI to match cert to the hostname, how do you test your setup?

[2015-10-15 04:10] mindnuts commented on #252
@klizhentas At the moment i am using self signed wildcard certificates and using local ip to resolve the domain names. In the browser the certificate presented  is always the last certificate setup.

example:
 * setup foo.com visit foo.com in browser and browser only complains about self signed certificate
 * setup foobar.com, visit foobar.com in browser and browser complains about self signed cer

[2015-10-15 13:53] sandstrom commented on #9
@sielaq Great suggestion, thanks!

[2015-10-15 14:09] tboerger commented on #9
Traefik looks nice but it's not distributed except for etcd and you have to run an instance for every listening port :(

[2015-10-15 15:21] pquerna opened #253 "Consider stop vendoring"
I believe vulcand should not be vendoring.  It is not a 'classic' program, but still a series of libraries that you compile and add your own features to.

Several issues in the last few months have been caused by vendoring dependencies, people unknowingly breaking APIs, not keeping dependencies up to date for fixed bugs, etc.

Additionally, user's of Vulcan who use `vbundle` or otherwise add custo

[2015-10-15 15:54] tboerger commented on #253
Vendoring is totally reasonable to take care about a working state. I would just suggest to build only on golang 1.5 and to use the new vendoring method with for example glide for managing the deps.

[2015-10-15 16:19] pquerna commented on #253
Right, if we are going to keep vendoring, at least use the 1.5-experiment method, with whatever tooling you want for managing that.

[2015-10-16 05:30] sielaq commented on #9
@tboerger, etcd is not the only distributed backend. Moreover if you use distributed backend as your primary data for configuration like consul, mesos/marathon, etcd, etc. then you don't need to have distributed proxy, since every instance got its data fully agnostic. And why running multiple ports while you can use only one port 80 and hostname (DNS) to discover your service (consul / etcd+skydns

[2015-10-16 05:40] tboerger commented on #9
Look at vulcand, listen to as many ports as you want, do redirects from 80 to 443, all in a single instance... I thought about the docker integration of vulcand to get rid of an registrator.

[2015-10-16 17:14] pquerna commented on #253
PR #254 goes to direct dependencies, nothing vendored.

This would be my preference for the next 3-6 months, until go 1.6 is out and then re-consider using the native vendoring, assuming it becomes less experiemtnal

[2015-10-17 09:05] sielaq commented on #9
For those who just need small HTTP router (LB) for Consul,
our colleagues have just released https://github.com/eBay/Fabio
enjoy

[2015-10-18 14:50] teknologist commented on #78
+1

[2015-10-21 16:00] sdval commented on #190
:+1: Oh, this would be the hotness.

[2015-10-28 17:49] archisgore opened #256 "Allow vulcand to expose in-progress connections (for instance draining.)"
As vulcand grows, I presume Websockets, and long-living connections will become a key scenario/use-case.

We know that when we remove servers from a backend or remove a backend entirely, vulcand will allow any connections to that server to drain before releasing it.

However, for long-lived connections, it may be necessary for administrators to know any such pending connections before they take th

[2015-10-28 17:53] klizhentas commented on #256
@archisgore to speed up development, here's what I'm planning to do:

* Vulcand and associated projects (oxy, predicate, route) will be moved to separate org
* @archisgore and @pquerna will be given committers rights alongside mailgunners and me(I'm no longer at Mailgun)

@r0mant let me know when you plan to do this

[2015-10-28 17:56] r0mant commented on #256
I'll do it tonight/tomorrow if no pressing issues come up.

[2015-10-30 18:36] bahlo commented on #171
:+1:

[2015-10-31 15:23] archisgore commented on #256
Thanks for doing this romant. I promise to be a good actor here. I'm beginning to merge some PRs and also will ask some PR submitters to resubmit - those who broke the UTs due to that old race condition.

Watch out for path-updates coming soon (all packages refer to github.com/mailgun/... and I'll make those updates in order of dependencies first.

[2015-11-02 07:32] tboerger opened #258 "Create gitter chat"
To get a better platform for discussion or to get help how to configure things I would suggest to create a gitter chat for vulcand/vulcand. Forums/Mailinglists like the google group are pretty dead.

[2015-11-02 17:40] lucmichalski opened #259 "Stop a chain of middlewares instantly if some major events/metrics are detected"
Hi guys,

Hope you are all well !

I am developing a couple of middlewares with Vulcand but I was wondering if you have a way to combine the result from both (just an avg value) of 2 or more middlewares, and in some cases to stop the chain of middlewares, if the avg is already above a threshold after 2 forwarding, and before going to the round robin forwarding of the request.

- request A
----> mi

[2015-11-02 17:43] JonGretar commented on #258
+1

[2015-11-02 17:50] archisgore commented on #259
One way to handle this is to give it external storage. In cases where Vulcan is working with ETCD engine, we can just pass in the etcd client into each middleware so they can use etcd as a shared state store. Then it may be possible to have a final middleware that can look at that state and decide whether it should terminate the request or let it pass through.

NOTE: Personally I'm not a big fan o

[2015-11-02 18:40] lucmichalski commented on #259
Yeah ok,

Something between these 2:
https://github.com/mailgun/scroll/commit/68061899525953fb9c0cd4d92e8689703a13b46d
https://github.com/soellman/vulcand-static/tree/master/static

Last quick question, in a middleware I am batch requesting 10 remote endpoints (POST Requests) in order to create a nested final JSON object (It is necessary). I saw your repo (https://github.com/polyverse-security/com

[2015-11-02 22:44] pquerna commented on #216
We just ran into a vulcand seemingly leaking a ton of sockets, would love to have this available in the admin API?

[2015-11-03 07:39] szll commented on #171
+1

[2015-11-10 17:18] ekozan opened #260 "Kubernetes support"
Hi,

I want to speak about the possibility of implement an auto configurator ( ex: for kubernetes or mesos )
I think the best way is to implement firstly the leader election ( ttl based with key/value backend ? )
After define on standard for the configurator

Any plan for implement this ?
Can I propose some PR ?

[2015-11-10 17:37] klizhentas commented on #260
@ekozan we've just been talking about this recently - some folks from CoreOS added integration steps for k8s as a hack project, I want to take a look at that and merge some of it upstream - the idea is implement k8s native backend that uses k8s API instead of using etcd directly

[2015-11-10 17:43] ekozan commented on #260
ho yeah and use the labels like https://github.com/Nordstrom/kubernetes-vulcand-router for the config

[2015-11-10 21:13] klizhentas commented on #260
yeah, the plan is to have a deep integration with k8s

[2015-11-12 00:19] dhawal55 commented on #231
+1 for supporting etcd2

[2015-11-13 07:11] MartinPodval commented on #171
+1

[2015-11-15 08:02] chanwit commented on #196
Good news. The patch seems to be merged.

[2015-11-15 16:55] ekozan commented on #260
how do you plan to handle many requests I think the api can't handle this ? cache in memory ?

[2015-11-16 01:13] felipegs opened #261 "Add Support for TLS Client Authentication"
Like https://github.com/vulcand/vulcand/issues/250 It will be good if we can configure it, because configure it on middleware it not works on protocol level it is application level, so it is less secure.

[2015-11-24 03:40] Huangyan9188 opened #264 "forever ｀429 too many requests` when change time before"
hey guys ，there maybe a bug when using ratelimit and then change time before ， then all the requests gotta be 429....

if change back everything be ok

[2015-11-24 10:51] bryce-gibson opened #265 "Blog domain has expired"
It looks like blog.vulcanproxy.com has expired?

I'm not sure if you'd like to renew it, or remove it from the readme?

Just thought you might like to know :-)

[2015-11-25 20:32] archisgore opened #266 "Etcd Engine should begin "Watch" from the EtcdIndex out of which initial structures were created."
Vulcan, on startup creates all frontends/middlewares/listeners based on existing etcd configuration. When it begins a "watch" though, it begins watching for modifications from current time onwards. This may cause a few missed notifications.

This is to recommend that on each rebuild, the EtcdIndex from which the strucutres were built, be noted, and all Watch changes begin from that index onwards.

[2015-11-29 15:00] shrinathaithal opened #267 "docker-build fails to build working image on OS X"
`make docker-build` on OS X statically compiles the app, but for OS X. This fails to run docker container, throws error similar to this -
`Error response from daemon: Cannot start container c0e4ba53f6919f4f2a31ad85e3848b64afbed7e79064bf5e0fcfbb44b824c1b4: [8] System error: exec format error
make: *** [docker-run-fast] Error 1`

[2015-11-30 10:38] jrudolph opened #269 "X-Forwarded-Host reports wrong host"
It seems X-Forwarded-Host doesn't report the original Host but the host to which the request is forwarded (i.e. the value X-Forwarded-Host and Host are the same) which defeats its purpose.

[2015-11-30 11:05] Poogles commented on #269
Have you set TrustForwardHeader to True when upserting the frontend?

[2015-11-30 11:12] jrudolph commented on #269
No, I'm not having a proxy in front of vulcan. I'm talking about the headers vulcan generates itself. I want this line to work:

https://github.com/vulcand/oxy/blob/master/forward/rewrite.go#L38

but it seems that at this point `req.Host` doesn't point to the original host any more.

[2015-11-30 11:18] Poogles commented on #269
I'm not so familiar with Go so I'll need someone else to confirm, but that line is adding the hostname it's forwarding to as the X-Forwarded-Host due to you not setting TrustFowardHeader to true on line 35.

https://github.com/vulcand/oxy/blob/master/forward/rewrite.go#L35

[2015-11-30 11:26] jrudolph commented on #269
As I understand, the question that `TrustFowardHeader` decides is whether *incoming* `X-Forwarded-XYZ` headers should be forwarded to the backend or not. That's not my scenario.

[2015-11-30 11:30] jrudolph commented on #269
It seems the undocumented `PassHostHeader` setting somewhat does what I need. Still, I think `X-Forwarded-Host` should be set correctly regardless of that setting.

[2015-11-30 11:33] jrudolph commented on #269
I think, in https://github.com/vulcand/oxy/blob/master/forward/fwd.go#L123 the order of execution should be changed, so that the rewriter is executed before the original Host header is overwritten to the new one, so that the Rewriter still has access to the original host and thus, can set it correctly.

[2015-11-30 11:34] jrudolph commented on #269
This seems to be a duplicate of https://github.com/vulcand/oxy/issues/18.

[2015-11-30 11:37] Poogles commented on #269
Just checked my code and you're correct,

[code]

[2015-12-02 18:44] christian-blades-cb commented on #265
:+1: Just embarrassed myself by telling a colleague to RTFM and handed him a dead link.

[2015-12-02 19:10] tboerger commented on #265
The blog is not a manual :)

[2015-12-02 20:58] freexmonster commented on #258
I agree with your message. It is very important!!! At the moment I have a lot of ideas and questions, and would like to discuss them. Manual from the official website is not enough.

[2015-12-03 15:38] christian-blades-cb commented on #265
@tboerger Look, I don't tell you how to embarrass yourself.

[2015-12-03 17:20] klizhentas commented on #265
hey everyone, thanks for the note. I still need to port blog and docs to some external domain will take care of it

[2015-12-05 19:20] pquerna opened #270 "Native Support for Let's Encrypt"
Vulcan should be able to be configured to automatically register hostnames from [Let's Encrypt](https://letsencrypt.org/).  Ideally the internal interfaces could be used for other automated CA's if/when they are available.

The Simple HTTP validation method has just has a few paths under '.well-known/acme-challenge' that vulcand would need to handle internally:

https://letsencrypt.github.io/acme-

[2015-12-05 20:36] tboerger commented on #270
:+1: Should be an awesome feature

[2015-12-07 17:13] alexkappa opened #271 "Support Versioning"
Hello,

Would it make sense to add support for versioning to vulcan as done in the [heroku](https://devcenter.heroku.com/articles/platform-api-quickstart) or [github](https://developer.github.com/v3/#current-version) api's? I imagine it having the frontend parse a `Accept` header and vulcan would then route to a specific server from the configured backend. Servers would be registered with an addit

[2015-12-07 17:17] archisgore commented on #271
As it happens, this scenario is specifically what like vulcan is designed for already. You can do it by registering a different frontend, and the route would match your vulcan header. You can then attach that version's backend and servers to it.

[2015-12-08 15:06] alexkappa commented on #271
Right, I haven't considered that approach. Thanks a lot!

[2015-12-08 15:06] #271 closed

[2015-12-09 18:05] freexmonster commented on #248
size 50MB psitrax/vulcand (system  AlpineLinux)  and "run /usr/bin/vulcand -apiInterface=0.0.0.0 -interface=0.0.0.0 -etcd=http://"you-ip":4001 -port=80 -apiPort=8182"

[2015-12-14 11:11] derDieDasJojo commented on #270
:thumbsup: would be awesome

[2015-12-16 00:06] pquerna commented on #216
Started profiling this, seems to be leaking Histogram instances. Looking deeper tonight.

[2015-12-16 01:12] klizhentas commented on #216
I recall fixing one HDR histogram leak because these goroutines were working forever:

https://github.com/vulcand/vulcand/blob/master/proxy/mux.go#L119

[2015-12-16 01:16] klizhentas commented on #216
the problem was:

* etcd server was restarting
* new `mux` instance was created
* goroutines for old `mux` instance never exited

not sure if this one is related though

[2015-12-16 16:07] pquerna commented on #216
heap profile after running for 15 hours w/ minimal real traffic:

![out](https://cloud.githubusercontent.com/assets/110123/11846108/e523956a-a3cb-11e5-9026-e98cbdeaeb7c.png)

[2015-12-16 16:19] pquerna commented on #216
dump of goroutines:

https://gist.github.com/pquerna/bd8319391690a9db7b22

As @klizhentas suggested, it appears there are 3 goroutines blocked on `mux.go:122`, which is holding the references to old generation mux instances, which is holding references to the Histograms:
https://github.com/vulcand/vulcand/blob/master/proxy/mux.go#L122

[2015-12-16 16:51] pquerna commented on #216
Looking at the log line "stop emitting metrics", which includes the Mux ID thankfully, I see that in this period there were about 50 successful Stop()s called, and 2 Mux's that didn't get it called. Still looking.

[2015-12-17 20:44] #216 closed

[2015-12-21 13:18] tboerger commented on #270
Maybe we can use https://github.com/google/goacme to integrate it? The caddy webserver already supports it natively.

[2015-12-29 12:00] zoidbergwill commented on #260
The [kubernetes vulcand router](https://github.com/Nordstrom/kubernetes-vulcand-router) has been deprecated in favour of [romulus](https://github.com/timelinelabs/romulus/)

[2015-12-29 12:43] designgrill opened #274 "Domain vulcand.io has expired and pending delete"
$ whois vulcand.io

Domain : vulcand.io
Status : pendingDelete
Expiry : 2015-12-27
Delete : 2016-03-27 00:30

[2015-12-29 13:07] tapank commented on #274
+1

[2015-12-29 15:27] shrinathaithal commented on #274
+1

[2015-12-29 16:36] ekozan commented on #260
now we have to use ingress

[2015-12-29 20:08] tboerger commented on #260
romulus just registers on vulcand, so just one piece changed :)

[2016-01-03 11:36] dannykopping commented on #274
...and the site is now down

[2016-01-05 19:38] vmattos commented on #274
Yep. It's down

[2016-01-05 22:03] rbucker commented on #274
vulcandproxy.com too except now a squatter has that one,

[2016-01-06 10:42] freexmonster commented on #274
+1

[2016-01-06 20:12] klizhentas commented on #274
hey, sorry I was on vacation and it slipped through the cracks. I will try to recover vulcand.io or register another one and point the website to it. Thanks!

[2016-01-06 20:33] klizhentas commented on #274
I've quickly deployed docs mirror to http://vulcand.github.io/ and will remap the vulcand.io once I recover it, thanks everyone. Also, please note that, this is a side project for all of us, so please be patient :)

[2016-01-07 13:23] shrinathaithal commented on #274
Great...
Thank you Alexander...

On Thu, 7 Jan 2016 at 2:04 AM Alexander Klizhentas <notifications@github.com>
wrote:

[2016-01-08 14:15] MalteJ opened #275 "Share TLS session cache between multiple vulcand instances"
It would be great to use multiple vulcand instances with shared TLS sessions.
To support session resumption we would need to share the TLS session cache.

I can imagine multiple solutions for a shared session cache:
- using Redis
- sending session info to all other vulcand instances once a new session was created
- saving the session cache to a shared filesystem

You could encrypt the session cach

[2016-01-08 16:04] fracklen commented on #275
I think it is a great idea.

The backend for vulcand (usually etcd) seems well suited for this?

Or is there something I'm missing where etcd is not a good choice for this?

If it's a matter of performance, the in memory cache could be populated/updated from etcd.

[2016-01-08 20:31] MalteJ commented on #275
hmm, I am not sure if etcd is fast enough. When you have a round robin LB in front of your vulcans the session replication via etcd subscriptions may be to slow?

[2016-01-11 14:11] vmattos commented on #274
We appreciate the workaround! :)
:+1:

[2016-01-13 15:41] MalteJ commented on #78
would be great to get websocket and maybe even general tcp support. :smiley:

[2016-01-20 17:35] composer22 commented on #190
Has anyone forked this and added Cosul DNS discovery as a store?

[2016-01-24 13:47] leonfs commented on #190
+1

[2016-02-02 01:46] errm commented on #270
:+1: sounds like a great feature, especially for deploying short lived services for QA and the like.

[2016-02-03 19:43] teodor-pripoae commented on #9
Hi,

Additional backends can be implemented by using [libkv](https://github.com/docker/libkv). This creates an abstraction over etcd/consul/zookeeper and I think it implements all the features required by vulcand.

[2016-02-05 17:56] cusspvz commented on #9
I would like to be a little bit more ambitious and ask you to include Rancher's metadata service so `vulcand` can act like an alternative of their current LB.

[2016-02-08 05:07] agalitsyn opened #281 "Golang 1.5+ vendoring and middlewares deps"
Before GO15VENDOREXPERIMENT vendor deps was used  by external middlewares

For now this is restricted by go, for example we can see message like

[code]

Without direct vendoring  we have broken deps

[code]

Explanation of problem https://github.com/mattfarina/golang-broken-vendor

So I tried to remove this dep in https://github.com/vulcand/vulcand/pull/280 but it's wrong

We should use more adva

[2016-02-18 05:38] agalitsyn commented on #281
So, anyone have idea? For now I can't compile vulcan with any external middleware budled with vbundle

[2016-02-18 08:16] tboerger commented on #281
The vendoring will enabled already on 1.6 by default, 1.7 will even remove the deactivation of vendoring. So this needs to be fixed differently.

The best should be to build real plugins, e.g. pie or https://github.com/hashicorp/go-plugin

From my side I don't have a strong opinion on that as I'm not using any plugin for vulcand.

[2016-02-21 22:05] F21 commented on #188
http2 has shipped with go 1.6 and is automatically enabled by default.

[2016-02-22 11:58] guilhem commented on #270
This feature + HTTP2 #188 would be awesome

[2016-02-24 08:04] agalitsyn commented on #281
@klizhentas please help us with your vision on this problem. Actually now vulcan is degraded by custom middleware feature compare to previous versions

[2016-02-24 09:08] tboerger commented on #281
What about simply using proper import paths?

[2016-02-24 21:52] klizhentas commented on #281
@agalitsyn sure, I will investigate

[2016-02-29 15:55] Nesze commented on #281
Hi,

Is there any update on this? (even any hackish solution to bypass the problem?)
We face the same issue as we implement our own Auth middleware so it is quite annoying.
Let me know if there is anything we can do.

[2016-02-29 17:15] martingartonft commented on #281
I've looked at this and I can't see any options other than the following:
1) Un-vendor codegangsta/cli
2) Don't expose any codegangsta/cli types in from the functions in github.com/vulcand/vulcand/plugin. (doing (2) may mean replicating quite a bit of the codegangsta/cli interfaces, most likely as interfaces)

Am I wrong?

It not, which is the preferred solution?  I'm willing to help if I can.

[2016-03-01 10:18] agalitsyn commented on #281
Vendoring is good for safety of working state for project. External middlewares and vulcand will always have the same version of codegangsta/cli, because it's bundled in one binary from GOPATH. But from build to build version will change and without vendoring we don't have ability to control it.

Also it's will not solve the problem, because I want to use oxy lib in my middleware, as well as vulca

[2016-03-01 10:24] agalitsyn commented on #281
Also I tried to hack prototype with RPC-based plugin system like go-plugin or pie. IMO it looks like inefficient way for vulcand plugins, because it's just a chain of http handlers on one request.

[2016-03-01 10:27] martingartonft commented on #281
I agree about vendoring.

I don't see how/why "External middlewares and vulcand will always have the same version of codegangsta/cli" though, because vulcand has a vendored version, and according to the go vendoring rules the external middlewares will not be able to see that at build time, so they will have to have their own version, but then the types won't match at compile time (which is the exa

[2016-03-03 07:35] mindnuts commented on #248
ended up creating my image from Alpine and static build of the application.

[2016-03-03 07:35] #248 closed

[2016-03-05 19:28] zoza1982 opened #283 "Plans for Supporting Consul?"
Probably someone asked this question before....But I can't find the answer....
Are you guys planning to support consul for this great product?  I would be good as you it would be able to penetrate into other platforms and reach audience which uses Consul instead of etcd.

Thanks

Zoran

[2016-03-06 06:41] agalitsyn commented on #283
From my point of view, vulcand can be used as "programmable" substitution of nginx or haproxy in legacy infrastructure (I mean not containers, just several VMs with ansible management) for some purposes.

My first wish was ability to use file config (yaml, json or ini). I propose to develop a configuration interface with support of several backends, reference implementation here https://github.com

[2016-03-06 18:16] zoza1982 commented on #283
@agalitsyn  confd was aways my choice to manipulate services which are not able to talk KV stores such as etcd/consul or even zookeper. It's awesome product.

But vulcand having direct support for consul would give it an additional value.

[2016-03-07 07:52] agalitsyn commented on #283
Of course I mean direct support, I mentioned confd only like reference implementation of supporting multiple backends.

[2016-03-07 08:30] tboerger commented on #283
This is a duplicate of https://github.com/vulcand/vulcand/issues/9

[2016-03-07 12:56] adrien-candiotti commented on #78
+1

[2016-03-17 14:49] martingartonft commented on #281
Did anyone have a better suggestion than (2) above?  I don't want to work on this if people think it's insane.

[2016-03-23 10:20] kovacshuni commented on #78
Yes, we would use that.

[2016-04-25 09:49] tboerger commented on #258
I will close that because of lacking interest :(

[2016-04-25 09:49] #258 closed

[2016-04-25 10:46] tboerger commented on #240
Closed as there seem to be no interest.

[2016-04-25 10:46] #240 closed

[2016-05-10 04:59] auzty opened #288 "vulcand build cause error"
Hello, i need to connect my vulcan to my etcd server that using ssl, so i compiled the latest version v0.8.0-beta.3 ,
my env:
Linux Ubuntu 14.04.3 64bit
Go is latest version (v1.6.2)

my infrastructure :
Kubernetes with skydns

i run :

[code]

and then i get the vulcand binary

but when i use that binary, one of my docker running php5 that using variable "**BASE_URL**"
it return the internal url

[2016-05-20 12:34] bahlo commented on #171
What's the state of this?

[2016-05-21 15:52] wmangano commented on #9
+1 consul

[2016-05-21 17:32] wrotki commented on #281
If anyone still needs a workaround:

Applying the vendoring procedure (I used glide) to copy dependencies to the vendor directory creates two copies of codegangsta/cli:

- <project root>vendor/github.com/vulcand/vulcand/vendor/github.com/codegangsta/cli
- <project root>vendor/github.com/codegangsta/cli

The compiler complains about functions using Context and other types defined at <project root>v

[2016-05-22 16:19] vanthome opened #289 "Blasphemous Question: Why not use Traefik?"
I've recently moved from vulcand to [https://docs.traefik.io/](Traefik) becuase I wanted HTTP 2.0 support as multiple config backend support. I have to say from my perspective Traefik provides all Vulcand features that I overlook plus much more.
So I want to ask the blasphemous, why not move to Traefik / join forces with them?

[2016-05-25 21:48] wrotki commented on #281
And now I think running 'glide update -s -v -u' does this automatically

[2016-05-29 23:39] erolg opened #290 "Vulcand seems doesn't work, what I missing?"
Hi, Im newbie at docker and vulcand.

Im try to load balancing on simple wordpress container with vulcand

I check everything but vulcand seems doesn't work. What I missing ?

Here is my setup commands,

firstly created etcd container

[code]

then created vulcand

`docker run -p 8080:80 -p 8182:8182 -p 8181:8181 mailgun/vulcand:v0.8.0-beta.2 /go/bin/vulcand -apiInterface=0.0.0.0 --etcd=http://192

[2016-05-30 02:40] erolg commented on #290
I came across with -port parameter,

Is it possible that I might forget -port parameter?

[2016-06-02 20:10] DenisIzmaylov commented on #290
Up!

[2016-06-06 21:38] #218 closed

[2016-06-06 23:53] #256 closed

[2016-06-07 21:10] archisgore commented on #215
I made the relevant change in Oxy here: https://github.com/vulcand/oxy/pull/45

The vulcan change is here: https://github.com/vulcand/vulcand/pull/292

I posted a sample go app, which should allow you to create a local chunking endpoint to test against.

[2016-06-09 02:54] rowanj commented on #275
etcd's write throughput would be a significant issue (think 1000's of writes/s) for even testing workloads - it's designed for authoritative truth and notification; shared caches are better suited to memcached/Redis etc.

[2016-06-10 18:27] erolg opened #293 ""Route":"Path(`/.*`)" doesn't work"
Here is my frontend,

I want to acess / and /smth/10/smth etc. But this path doesn't work.

[code]

[2016-06-14 07:19] mindnuts commented on #289
:+1:

It supports Let's encrypt natively and seems to be maintained more.

[2016-06-14 16:30] klizhentas commented on #289
hey folks, it's open source, so if you like Traefik use it. I've created Vulcand to solve and research particular problem - resiliency in micro-service architecture, I have no intent on turning it into generic proxy with support for everything. So use the tool that works better for you.

[2016-06-14 16:30] #289 closed

[2016-08-24 05:19] xgt001 commented on #281
@wrotki  thank you, this worked

[2016-08-30 14:36] gchaincl commented on #281
@xgt001 I don't get it, how did you make it work by running glide?

[2016-08-31 06:03] archisgore opened #296 "Unit tests sometimes failed with Error "EOF""
In some UTs under the proxy package,

NewReader(conn).ReadString("\n")

will return an error "EOF". Basically there's a premature EOF before "\n" is found.

I added plenty of debugging/logging statements to both manners and oxy/testutils Responders, but couldn't figure this out. This issue is mainly for me to go nail down what's happening.

As a side note, whenever an OCSPResponse is sent back by

[2016-08-31 06:14] xgt001 commented on #281
I tried @wrotki's earlier solution of deleting one of the redundant codegangsta libraries in vulcand

[2016-08-31 06:17] archisgore commented on #281
@ghcaincl, it's the -v option in glide:

--strip-vendor, -v		Removes nested vendor and Godeps/_workspace directories. Requires --strip-vcs

Basically it'll take out sub-nested vendored packages inside any packages you vendor yourself. It ends up ensuring only one copy of the package remains.

[2016-08-31 07:15] gchaincl opened #297 "Global middlewares"
Is it possible to use  middlewares which apply to all frontends?

[2016-09-22 09:45] #297 closed

[2016-09-29 04:03] archisgore commented on #266
This commit from last week fixes this issue: https://github.com/vulcand/vulcand/pull/301

[2016-09-29 04:03] #266 closed

[2016-09-29 10:05] nvartolomei commented on #293
Use `PathRegexp` instead of `Path`.

[2016-10-03 21:53] horkhe opened #308 "Panic: concurrent map read and map write"
Occasionally Vulcand panics with the following stack trace:

[code]

[2016-10-04 02:02] #308 closed

[2016-10-08 05:20] horkhe commented on #293
Exactly `Path` in fact means [Trie](https://en.wikipedia.org/wiki/Trie) based path where every item between two adjucent `/` is a trie node. Use `PathRegex` as @nvartolomei suggested if you want a regex based route. But I would recommend using Trie based routes if you plan to have many frontends, for it is way more performant.

[2016-10-08 05:20] #293 closed

[2016-10-11 16:05] archisgore opened #312 "Support Etcd 3.x"
I'm going to begin the initial implementation for an etcdv3ng. Fortunately our engines are swappable so this can be done safely alongside working code, and tested without affecting production/stable code paths.

https://coreos.com/blog/etcd3-a-new-etcd.html

[2016-10-17 11:51] nvartolomei commented on #87
@archisgore any update on this?

[2016-10-17 12:08] nvartolomei commented on #204
Any news on this?

[2016-10-24 23:18] #312 closed

[2016-10-25 14:23] crabmusket commented on #210
When running the `vctl` command I get this error:

    ERROR: 501: All the given peers are not reachable (Tried to connect to each peer twice and failed) [0]

I'm running the `vulcand:0.8.0-beta.3` container in a single-machine CoreOS cluster. It's running fine with a single backend service. I've run into this error before when initialising vulcand, but I don't know why it would show up now.

[2016-11-07 13:11] McSlow commented on #221
Merging introduces serious XSS issues if the backend trusts the content of X-Forward-For and displays it or puts it into some database:

Here a case where I add an X-Forward-For-Header in my client(!)
[code]

Of course, an app should never trust any input parameter, but I guess there's a lot of out there in the wild...

[2016-12-16 18:37] miracle2k opened #319 "New release"
The last published release and docker image is more than a year old. It seems that since then, a lot happened in the repo.

Which version are new users supposed to use?

[2016-12-20 17:31] adrien-candiotti commented on #290
I don't see any listener declared in your configuration.

Create it with vctl or in the etcd configuration directly and make it listen on "0.0.0.0:80".

[2016-12-20 17:33] adrien-candiotti commented on #319
I'll have to +1 this!

[2016-12-27 08:59] #260 closed

[2017-01-05 06:36] criloz commented on #78
+1

[2017-02-03 17:05] bernardoVale opened #320 "Got Empty body when Rewrite Request don't match the regex"
Traefik uses vulcand to redirect requests based on a regex.

We've detected a bug when the request doesn't match the regex. We got a 200 Status Code but when you look at the body there's not content.

[traefik issue](https://github.com/containous/traefik/issues/679)

I've written the following test case [here](https://github.com/vulcand/vulcand/blob/master/plugin/rewrite/rewrite_test.go) that conf

[2017-02-03 20:56] #320 closed

[2017-02-14 20:11] codymwalker commented on #320
@bernardoVale Did anything ever come of this? I'm running into the same issues you referenced in https://github.com/containous/traefik/issues/679 when non regex matches return an empty 200.

[2017-02-14 20:13] bernardoVale commented on #320
@codymwalker , I've debugged this for a few days. I realize that the problem is not on vulcand. that's why I've closed this issue here.

[2017-02-14 20:16] bernardoVale commented on #320
Still don't know where the problem is =/

[2017-03-08 17:47] soupdiver commented on #9
Is there any update on the Consul integration? Are there any show stoppers or does just someone have to implement it?

[2017-03-21 13:58] AlexisMontagne commented on #225
@archisgore you can close this issue, could you also release a new version (github release + docker image)?

[2017-03-21 13:59] #225 closed

[2017-03-21 14:00] archisgore commented on #225
Closed the issue. I'll let someone from mailgun handle the github release + docker image. I haven't done it before and don't have the bandwidth unfortunately.

[2017-03-30 07:41] trusch commented on #319
This would be really helfull. I want to build a middleware, but your example is specific to an old godep version. Please make a new release and update your docs ;)

[2017-04-26 06:36] muellermichel opened #327 "Does it support persistent connections?"
Let's say I have a cluster of database replicas that I would like to make available under a frontend. These databases replicate with each other. Can I have VulcanD serve the same backend to the same client ID if possible, such that the UI can be made consistent even when the DBs are still replicating the newest state?

[2017-04-28 05:29] horkhe commented on #327
The short answer is no. The long answer is as follows: Vulcand is L7 HTTP proxy, it does not proxy arbitrary TCP traffic. Even though it is possible to configure both inbound and outbound connections with infinite timeouts, the proxy decisions are made on per request basis, so different requests coming from the same inbound connection can be proxied to different outbound connections.

[2017-04-28 05:29] #327 closed

[2017-04-28 05:33] horkhe commented on #290
@adrien-candiotti is right you need to`vctl listener upsert --proto http --addr localhost:80`

[2017-04-28 05:34] #290 closed

[2017-04-28 05:37] horkhe commented on #9
Closing as mentioning to many things. Each of them should be an isolated issue.

[2017-04-28 05:37] #9 closed

[2017-04-28 05:44] horkhe commented on #283
This project is mostly developed in free time of maintainers. Even though we do use it in production in our companies none of us is using Consul. Therefore this is very very... very low on our priority list. You can only hope that magic of open source kicks in and somebody who needs will implement it. That someone can be you. I would say that it should be pretty straight forward just look at [Etcd

[2017-04-28 05:47] horkhe commented on #281
Yep, you need to flatten all dependencies at the tope level vendor folder. Please check out the docs of your vendoring tool.

[2017-04-28 05:47] #281 closed

[2017-04-28 05:49] #274 closed

[2017-04-28 06:01] horkhe commented on #265
There is no blog anymore.

[2017-04-28 06:01] #265 closed

[2017-04-28 06:06] horkhe commented on #253
Looks like vendoring is here to stay especially taking in account [this saga](https://blog.gopheracademy.com/advent-2016/saga-go-dependency-management/). Let's wait for the final decision to be made and `go tool dep` to appear in the SDK and then migrate to it. I am closing this for now. @pquerna, please reopen if you disagree.

[2017-04-28 06:06] #253 closed

[2017-04-28 06:06] #249 closed

[2017-04-28 06:13] horkhe commented on #252
Closing as outdated. Please reopen if you still interested.

[2017-04-28 06:13] #252 closed

[2017-04-28 16:37] horkhe commented on #270
@powellchristoph or @russjones is any of you wanna take care of this? Asking since both of you has looked into that stuff.

[2017-04-28 16:58] horkhe commented on #241
It stops gracefully regardless Etcd status on the latest master.

[2017-04-28 16:58] #241 closed

[2017-04-30 02:51] horkhe commented on #211
fixed with #329

[2017-04-30 02:51] #211 closed

[2017-05-01 01:42] ikandars commented on #223
+1

[2017-05-01 18:44] horkhe commented on #319
I have created milestone [v0.9.0](https://github.com/vulcand/vulcand/milestone/1) to wrap up the next release. @pquerna @archisgore @klizhentas please populate it with issues/PRs that you feel should go there. It would be great if you could update [CHANGLOG.md](https://github.com/vulcand/vulcand/blob/master/CHANGELOG.md) and [documentation](https://github.com/vulcand/vulcand-docs) with what have b

[2017-05-01 18:54] horkhe opened #330 "Reduce memory usage by Vulcand"
In our production environment vulcand instances have grown to consume up to 6Gb of VSZ at rest! Lazy frontend initialization (PR #328) helped to bring the size down  to 4Gb in most cases. But that was not good enough. Using `/v2/pprof/heap` API endpoint (PR #325) we discovered that more than 75% of that memory is consumed by the [Real-Time metrics watcher](https://github.com/vulcand/vulcand/blob/m

[2017-05-01 19:12] klizhentas commented on #330
@horkhe not sure about removing metrics watcher altogether, so let's discuss our options here.

[2017-05-01 19:19] horkhe commented on #330
@klizhentas I am not suggesting to remove it, I suggest enable/disable it explicitly. So `vctl top` can enable metrics first, then poll the data, and when the user is done (`Ctrl+C`) disabled metrics collection.

[2017-05-01 19:22] klizhentas commented on #330
@horkhe it's not about top - it's about auto failover based on anomalies

[2017-05-01 19:48] horkhe commented on #330
I suspected that there might have been more to it then just pretty picture produced by `vctl top`. Thanks for letting me know. Let me look into the code more then.

[2017-05-01 20:44] archisgore commented on #330
How about making it a startup flag that can optionally turn it off? Stays on by default. Before creating metricsWatcher, just check the options flag for truthiness. Behind that flag you can work to improve resource consumption of the watcher.

[2017-05-01 21:52] klizhentas commented on #330
instead of doing the flag we can simply don't collect HDR histogram stats if we don't need them for failover purposes (not used in predicates) I suspect this would be the most agressive reduction of the RAM usage - so have it per endpoint basis, not a global flag.

[2017-05-07 01:21] ikandars opened #332 "How to make the config persistent?"
Is it possible? or I should backup to a json file every time I add new configuration?

[2017-05-07 17:29] horkhe commented on #332
@ikandaras what configuration are you talking about? Could you please be more specific.

[2017-05-07 17:58] horkhe commented on #288
Vulcand has all dependency vendored. So you do not need to fiddle with godep yourself. I see that it has been a year since you asked so this is probably not of interest to you anymore. I am closing this issue but feel free to reopen if you still want some resolution. This time I will respond in time, I promise.

[2017-05-07 17:58] #288 closed

[2017-05-08 10:45] gchaincl commented on #332
@ikandars are you running etcd inside a container?

[2017-05-09 04:33] horkhe opened #333 "Dependency on mailgun/manners"
Mailgun will no longer support its fork of https://github.com/braintree/manners. We only used it to achieve graceful HTTP server shutdown and now we have that out-of-the-box in Golang 1.8. So vulcand project has two options: either create its own fork of the repo or absorb pieces that it needs. I do not have enough knowledge in what manners features are needed by vulcand so I cannot make this call

[2017-05-09 17:50] #192 closed

[2017-05-09 17:51] #221 closed

[2017-05-09 18:01] #267 closed

[2017-05-13 07:58] ikandars commented on #332
Hi, sorry for my late response. @horkhe I mean is frontend, backend and host configuration. Since it can add on the fly, I thought it will disappear every time I restart the service. But @gchaincl give me a clue that its more about docker things, not vulcand it self. This is valid since I'm not use docker persistent volume.

thx all

[2017-05-13 07:58] #332 closed

[2017-05-23 04:15] archisgore commented on #188
It is indeed enabled by default.  I added it to the next proto list in this PR: https://github.com/vulcand/vulcand/pull/336

When that gets merged in, all TLS Listeners will offer http2 as a negotiation option.

[2017-05-23 04:15] archisgore commented on #188
This still won't do e2e proxying of course - as in vulcan won't be able to take a server-pushed stream from a backend and push it all the way to the browser. But I'm working on that next.

[2017-06-14 22:29] migueleliasweb commented on #171
+1

[2017-07-23 17:29] archisgore commented on #188
HTTP2 is now supported in vulcan. I'm going to close this. Passthrough should be a different feature and no proxy that I know of supports it.

[2017-07-23 17:29] #188 closed

[2017-07-23 17:31] archisgore commented on #270
I'm going to take this up. One because I want it personally for our website polyverse.io, and another because moving private keys is so stupid and unnecessary! :-)

Anyway, can we get some spec discussion going early, so that by the time I'm done, we won't have to go through a large review cycle to narrow it down?

Can one of  you tell me what you had in mind for how you would want to specify Let'

[2017-07-26 16:35] horkhe commented on #270
@archisgore to tell the truth I do not know the let's encrypt mechanics. But if you want to take care of this then a good way to start would be to outline the high level feature design in some document. And then we can provide feedback.

[2017-07-26 16:46] archisgore commented on #270
Okay sounds great. I'll just capture it here now.

The crux of Let's Encrypt is automated-certificate generation. The flow is this:

1. You start a webserver that purports itself to be under hostname "foo.bar".
2. The webserver generates a new private key.
3. It contacts Let's Encrypt to generate a cert for that domain using the ACME protocol.
4. Let's Encrypt sends back a challenge you can host (

[2017-09-25 15:10] archisgore commented on #270
Golang is building an ACME client. https://github.com/golang/crypto/blob/master/acme/acme.go

[2017-09-29 19:44] archisgore opened #341 "Move Travis to go1.9"
Can someone from Mailgun please move Travis compiler to 1.9 by default? I'm going to move us to "dep" dependency tool and bring in Let's Encrypt. I'll do PRs to move all the Dockerfiles/Makefiles over.

[2017-09-29 20:09] horkhe commented on #341
I will take care of that.

[2017-09-30 15:59] archisgore commented on #270
In PR: https://github.com/vulcand/vulcand/pull/339

[2017-09-30 16:01] archisgore commented on #275
My latest PR sets up the stage for being able to plug in caches different caches: https://github.com/vulcand/vulcand/pull/339

This will make it easy to keep existing code and plugin a redis/memcached store.

[2017-09-30 16:02] #215 closed

[2017-10-11 13:27] #341 closed

[2017-10-13 08:54] horkhe opened #346 "Keep docs along with code"
This is not really an issue but rather me documenting what has been done: I merged `github.com/vulcand/vulcand-docs` using subtree merge (preserving history) to this repo and reconfigured ReadTheDocs to feed from it. This way it will be easier to keep docs in sync with the code and have documentation generated for specific tags. I am going to remove the obsolete docs repo to avoid confusion if nob

[2017-10-13 08:54] horkhe commented on #346
@archisgore @klizhentas any objections?

[2017-10-13 16:54] archisgore commented on #346
This is good! There's so much Vulcan supports from the last time the docs were updated, and it'd be nice to be able to submit documentation changes along with user-facing feature commits in one shot.

[2017-10-13 23:06] archisgore commented on #270
This is done!

[2017-10-13 23:06] #270 closed

[2017-11-16 18:35] nyanshak commented on #319
Following up on this, it would be awesome to build more frequent releases. I'd definitely like to use a more recent version of the code.

[2017-12-06 12:13] onestraw opened #348 "update route path error"
# config
[code]
# bug

[code]

# fix
proxy/frontend/frontend.go: Update()

[code]

[2017-12-06 13:41] horkhe commented on #348
Thank you. If you could turn it into a PR that would be great.

[2017-12-07 03:05] onestraw commented on #348
I have sent the PR, pls review

[2017-12-15 08:35] #348 closed

[2018-03-05 07:59] #197 closed

[2018-07-31 07:37] netxfly opened #356 "How to enable long connections like nginx"
In nginx, I can specify a specific path to use a long connection.
How to enable long connections like nginx？thx

` location ~* ^/(rpc|EWS|ews) {
            proxy_pass https://exchange_outlook;
            proxy_buffering off;
            proxy_http_version 1.1;
            proxy_request_buffering off;
            proxy_set_header Connection "Keep-Alive";
            proxy_set_header Host $host;
`

[2019-04-18 11:29] designgrill commented on #281
An ELI5 version for someone needing quick help.

Golang 1.5 onwards natively supports vendoring with `vendor/` in the project root given the first preference instead of go root. However as vulcand itself has vendored dependencies, go build system doesn't like it.

One way to resolve this issue is to issue the following commands in your project root:
[code]

[2019-10-30 03:41] keyoti opened #369 "Which version of etcd is supported?"
I installed v0.8 alpha 3 of Vulcand and etcd 3.4.3

However when I run them both

ubuntu@~$ /usr/sbin/etcd/etcd --name etcd0 \

ubuntu@:~$ /usr/sbin/vulcand/vulcand -apiInterface=0.0.0.0 -etcd=http://localhost:2380

I get

Oct 30 03:24:55.543: ERROR PID:12555 [service.go:37] Failed to start service: invalid character 'p' after top-level value
Service exited with error: service start failure: inval

[2021-08-16 00:41] filipecosta90 opened #374 "codahale/hdrhistogram repo url has been transferred under the github HdrHstogram umbrella"
## Problem

The codahale/hdrhistogram repo has been transferred under the github HdrHstogram umbrella with the help from the original author in Sept 2020 (new repo url https://github.com/HdrHistogram/hdrhistogram-go). The main reasons are to group all implementations under the same roof and to provide more active contribution from the community as the original repository was archived several years